<div class="sign-up-header">
	<ul class="nav nav-pills sign-up-wizard-pills">
		<li class="completed"><a><strong>1.</strong> <i class="fa fa-edit"></i> Cadastro</a></li>
		<li class="completed"><a><strong>2.</strong> <i class="fa fa-check-circle"></i> Aprovação</a></li>
		<li ng-class="{'active': (step == 3), 'completed' : (step > 3)}"><a ng-click="goToStep(3)"><strong>3.</strong> <i class="fa fa-sitemap"></i> Gestores</a></li>
		<li ng-class="{'active': (step == 4), 'completed' : (step > 4)}"><a ng-click="goToStep(4)"><strong>4.</strong> <i class="fa fa-users"></i> Grupos</a></li>
		<li ng-class="{'active': (step == 5), 'completed' : (step > 5)}"><a ng-click="goToStep(5)"><strong>5.</strong> <i class="fa fa-random"></i> Parametrização</a></li>
		<li ng-class="{'active': (step == 6), 'completed' : (step > 6)}"><a ng-click="goToStep(6)"><strong>6.</strong> <i class="fa fa-calendar"></i> Prazos</a></li>
	</ul>
	<hr style="margin-top: 0; margin-bottom: 30px;" />
</div>

