<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong ng-show="!$parent.isEditing">4.</strong> <i class="fa fa-users"></i> Grupos de trabalho</h3>
	</div>
	<div class="panel-body">
		<p>
			Os grupos de trabalho são grupos de usuários que respondem por diferentes causas de evasão escolar.
			Os grupos que você cadastrar aqui poderão ser customizados para receber um ou mais alertas e casos, de acordo com sua causa.
			Sugerimos que os grupos cadastrados sejam as secretarias municipais ou orgãos da administração pública que irão atuar na (re)matrícula das crianças e adolescentes.
		</p>

		<table class="table sign-up-groups">
			<thead>
				<tr>
					<th width="90%">Nome</th>
					<th width="10%">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(i, group) in groups track by i">
					<td><input type="text" ng-model="group.name" class="form-control" placeholder="Nome da secretaria..." /></td>
					<td>
						<a class="btn btn-raised btn-danger" ng-show="group.canChange" ng-click="removeGroup(i);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i></a>
						<span class="btn btn-raised btn-default" ng-show="!group.canChange" uib-tooltip="Esse grupo é responsável pelas atividades de (re)matrícula e observação, e não pode ser apagado ou editado.">Obrigatório</span>
					</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="$parent.newGroupName" class="form-control" placeholder="Nome da secretaria..." /></td>
					<td><a class="btn btn-raised btn-success" ng-click="addGroup()" uib-tooltip="Adicionar grupo"><i class="fa fa-plus-circle"></i></a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="panel-footer clearfix">
		<button ng-show="!$parent.isEditing" ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button ng-show="!$parent.isEditing" ng-click="nextStep()" type="button" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
		<button ng-show="$parent.isEditing" ng-click="save()" type="button" class="btn btn-success btn-raised pull-right">Salvar <i class="fa fa-save"></i></button>
	</div>
</div>