<div class="sign-up-header">
	<ul class="nav nav-pills sign-up-wizard-pills">
		<li style="width: 20%" ng-class="{'active': (step == 1), 'completed' : (step > 1)}"><a ng-click="goToStep(1)"><strong>1.</strong> <i class="fa fa-building"></i> Cadastre o município</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 2), 'completed' : (step > 2)}"><a ng-click="goToStep(2)"><strong>2.</strong> <i class="fa fa-user"></i> Gestor Político</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 3), 'completed' : (step > 3)}"><a ng-click="goToStep(3)"><strong>3.</strong> <i class="fa fa-user"></i> Cadastre o prefeito</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 4), 'completed' : (step > 4)}"><a ng-click="goToStep(4)"><strong>4.</strong> <i class="fa  fa-file-text-o"></i> Termo de Adesão</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 5), 'completed' : (step > 5)}"><a ng-click="goToStep(5)"><strong>5.</strong> <i class="fa fa-history"></i> Aguarde a Confirmação</a></li>
	</ul>
	<hr style="margin-top: 0; margin-bottom: 30px;" />
</div>

