<form class="panel panel-default" ng-submit="finish()">
	<div class="panel-heading">
		<h3><strong>{{step}}.</strong> <i class="fa fa-building"></i> Termo de Adesão</h3>
	</div>
	<div class="panel-body">
		<div style="margin: 10px 0;">
			<p>Leia e aceite o termo de adesão.</p>

			<div class="panel panel-default" style="max-height: 300px; overflow-y: scroll">
				<div class="panel-body">
					<h4 class="text-center">TERMOS DE USO E POLÍTICA DE PRIVACIDADE</h4>
					<h6 class="text-center">PLATAFORMA Busca Ativa Escolar</h6>
					<h5 style="font-weight: bold">1. DEFINIÇÃO</h5>
					<p>1.1. A Plataforma Busca Ativa Escolar é a base da ferramenta tecnológica disponibilizada gratuitamente a todos as administrações municipais e estaduais brasileiras, que objetiva auxiliar a identificação, o mapeamento e a gestão de casos de crianças e adolescentes, em idade escolar obrigatória, que estão fora da escola.</p>
					<p>1.2. A Plataforma Busca Ativa Escolar, neste Termo, passa a ser denominada apenas por Plataforma.</p>
					<h5 style="font-weight: bold">2. CIÊNCIA, CONCORDÂNCIA E COMPROMISSO</h5>
					<p>2.1. Ao acessar a Plataforma, os gestores municipal ou estadual declaram ter ciência da Iniciativa “Fora da Escola Não Pode!”, desenvolvida pelo UNICEF no Brasil, e concordar com o uso da ferramenta tecnológica para identificar, mapear e fazer a gestão dos casos de crianças e adolescentes que estão fora da escola no âmbito de responsabilidade da gestão.</p>
					<p>2.2. O acesso a Plataforma será franqueado apenas para profissionais que possuam vínculo com a Administração Pública e que atuem na gestão das políticas públicas setoriais necessárias ao enfrentamento da exclusão escolar.</p>
					<p>2.3.Caso haja informações que indiquem o acesso a Plataforma por funcionário não autorizado, manifesta-se a concordância de que verificações e bloqueios sejam realizados pela administração responsável com a finalidade de preservar aspectos ligados ao sigilo e à segurança dos dados. </p>
					<p>2.4.  A Administração Pública Municipal ou Estadual compromete-se a disponibilizar os equipamentos e insumos necessários para que o acesso à Plataforma seja realizado de maneira satisfatória pelos funcionários designados.</p>
					<p>2.5. transmitido ou de qualquer outra forma, seja por responsabilidade, contrato, ofensa ou qualquer outra hipótese legal.Em nenhuma circunstância, as organizações gestoras da Plataforma serão responsabilizadas por: (i) qualquer dano direto, indireto, incidental, especial, punitivo ou imprevisto resultante de quaisquer erros, equívocos, imprecisão ou mau uso; (ii) danos pessoais ou materiais, de qualquer natureza, resultante do acesso indevido por qualquer do usuário; (iii) danos causados por bug, vírus, malwares, worms, cavalos-de-tróia ou afins que possam ser transmitidos por meio dos equipamentos disponibilizados pela Administração Pública Municipal ou Estadual; e/ou (iv) quaisquer erros ou omissões de qualquer natureza que resultem em perda ou dano em consequência do uso de qualquer conteúdo ou e-mail enviado, transmitido ou de qualquer outra forma, seja por responsabilidade, contrato, ofensa ou qualquer outra hipótese legal.</p>
					<p>2.6 Os criadores e colaboradores da Plataforma poderão, a seu exclusivo critério, e em qualquer tempo, modificá-la ou desativá-la, bem como limitar, cancelar ou suspender seu uso ou o acesso, sem necessidade de qualquer aviso prévio.</p>
					<h5 style="font-weight: bold">3. USO E NOTIFICAÇÃO DE VIOLAÇÃO DE DIREITOS</h5>
					<p>3.1. Os usuários da Plataforma assumem o compromisso de: (i) utilizá-la apenas para finalidades lícitas; (ii) não publicar, enviar, distribuir ou divulgar conteúdos de caráter difamatório, obsceno ou ilícito, inclusive informações de propriedade exclusiva pertencentes a outras pessoas ou empresas, bem como produtos ou marcas registradas ou informações protegidas por direitos autorais, sem a expressa autorização do detentor desses direitos; e (iii) denunciar, pelos meios disponibilizados pelas organizações gestoras da Plataforma, qualquer tipo violação que venha a ocorrer.</p>
					<h5 style="font-weight: bold">4. DISPOSIÇÕES GERAIS</h5>
					<p>4.1. Este Termo, em conjunto com quaisquer outros avisos legais publicados na Plataforma, integram o acordo firmado entre a Administração Municípios, a Administração Estadual e as organizações gestoras.</p>
					<p>4.2. Se qualquer cláusula deste Termo for considerada inválida pela autoridade competente, a invalidade de tal cláusula não afetará a validade das cláusulas restantes, que permanecerão integralmente válidas e em vigor.</p>
					<p>4.3. Qualquer renúncia tácita, neste Termo, não será considerada renúncia adicional ou contínua a esse ou a qualquer outro termo, e a omissão por parte das organizações gestoras da Plataforma de não executar qualquer direito ou cláusula de acordo com estes Termo não constituirá renúncia a tal direito ou cláusula.</p>
					<p>4.4. Este Termo e as relações existentes entre a Administração Municipal, a Administração Estadual e as organizações gestoras da Plataforma são regidos pelas leis da República Federativa do Brasil, sem consideração a qualquer disposição sobre conflito</p>
					<p>4.5. Este Termo poderá ser alterado a qualquer tempo, sem qualquer aviso, comprometendo-se os usuários designados pela Administração Municipal, a Administração Estadual e as organizações gestoras a acessar regularmente o documento e consultar o texto vigente. </p>
					<p>4.6. As informações declaradas e imputadas no âmbito da Plataforma são de inteira e exclusiva responsabilidade dos prepostos designados pela Administração Municipal, a Administração Estadual e as organizações gestoras para operá-la.</p>
					<p>4.7. Fica eleito o foro central da Cidade de Brasília para dirimir quaisquer dúvidas ou questões oriundas deste Termo, renunciando as partes a qualquer outro, por mais privilegiado que seja.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label" for="fld-agree_tos-yes" style="margin-right: 10px;">Li e concordo com os termos de adesão acima:</label>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-yes" ng-model="$parent.agreeTOS" required ng-value="1" name="agree_tos" value="1" type="radio"> Sim</label>
				</div>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-no" ng-model="$parent.agreeTOS" ng-value="0" name="agree_tos" value="0" type="radio"> Não</label>
				</div>

				<div ng-show="$parent.agreeTOS == '0'">
						Para prosseguir, é preciso concordar com o termo de adesão. Em caso de dúvidas, entre em <a target="_blank" href="https://www.buscaativaescolar.org.br/#contact">contato</a>.
				</div>

			</div>
		</div>
	</div>

	<div class="panel-footer clearfix">
		<button ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<div ng-show="$parent.agreeTOS">
			<button type="submit" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</form>