<form class="panel panel-default" ng-submit="$parent.hasCheckedAvailability && $parent.isCityAvailable ? nextStep() : null">
	<div class="panel-heading">
		<h3><strong>{{step}}.</strong> <i class="fa fa-building"></i> Escolha o Município</h3>
	</div>

	<div class="panel-body">
		<div>
			<p>
				Localize e selecione o município que irá participar do Busca Ativa Escolar.
				Municípios que já possuem acesso ao programa estarão pintados de cinza e não poderão ser selecionados.
				Caso o seu município não conste na lista, entre em contato com nossa equipe.
			</p>
		</div>

		<div class="clearfix">
			<script type="text/ng-template" id="city_item.html">
				<a>
					<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
					<small ng-bind-html="match.model.uf | uibTypeaheadHighlight:query"></small>
				</a>
			</script>
			<div class="form-group col-md-3">
				<label class="control-label" for="fld-place_uf">UF*</label>
				<select class="form-control" id="fld-place_uf" ng-model="$parent.form.uf" ng-options="uf.code as uf.code for uf in $parent.static.getUFs()"></select>
			</div>
			<div class="form-group col-md-9 clearfix">
				<label class="control-label" for="fld-city">Município*</label>
				<input type="text" id="fld-city"
				       class="form-control"
				       ng-model="$parent.form.city"

				       uib-typeahead="city for city in fetchCities($viewValue)"
				       typeahead-editable="false"
				       typeahead-no-results="noCitiesFound"
				       typeahead-loading="citiesLoading"
				       typeahead-focus-first="true"
				       typeahead-template-url="city_item.html"
				       typeahead-wait-ms="400"
				       typeahead-min-length="3"
				       typeahead-input-formatter="renderSelectedCity($model)"
				       typeahead-on-select="checkCityAvailability($model)"

				>

				<div ng-show="citiesLoading">
					<i class="fa fa-refresh rotate-icon"></i> Buscando cidades...
				</div>
				<div ng-show="noCitiesFound">
					<i class="fa fa-remove"></i> Nenhuma cidade encontrada
				</div>
			</div>
		</div>

		<div ng-show="$parent.hasCheckedAvailability && !$parent.isCityAvailable">
			<div class="alert alert-warning">
				<strong>Município indisponível!</strong> O município indicado já é participante do programa Busca Ativa Escolar, ou já possui um processo de adesão em andamento.
			</div>
		</div>

	</div>
	<div class="panel-footer clearfix">
		<button ng-show="$parent.hasCheckedAvailability && $parent.isCityAvailable" type="submit" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
	</div>
</form>