<form class="panel panel-default" ng-submit="nextStep()">
	<div class="panel-heading">
		<h3><strong>{{step}}.</strong> <i class="fa fa-user"></i> Cadastre o prefeito</h3>
	</div>
	<div class="panel-body">

		<p>Informe aqui os dados do Prefeito em exercício, responsável legal pelo município. Os dados devem ser preenchidos corretamente.</p>

		<div class="form-group col-md-12">
			<label class="control-label" for="fld-name">Nome*</label>
			<input type="text" class="form-control" id="fld-name" required ng-model="$parent.form.mayor.name">
		</div>

		<div class="form-group col-md-6">
			<label class="control-label" for="fld-dob">Data de nascimento*</label>
			<input type="tel" ui-date-mask class="form-control" id="fld-dob" required ng-model="$parent.form.mayor.dob">
		</div>

		<div class="form-group col-md-6">
			<label class="control-label" for="fld-cpf">CPF*</label>
			<input type="tel" ui-br-cpf-mask class="form-control" required id="fld-cpf" ng-model="$parent.form.mayor.cpf">
		</div>

		<div class="form-group col-md-4">
			<label class="control-label" for="fld-email">E-mail institucional*</label>
			<input type="email" class="form-control" id="fld-email" required ng-model="$parent.form.mayor.email">
		</div>

		<div class="form-group col-md-4">
			<label class="control-label" for="fld-work-phone">Telefone fixo institucional*</label>
			<input type="tel" ui-br-phone-number class="form-control" required id="fld-work-phone" ng-model="$parent.form.mayor.phone">
		</div>

		<div class="form-group col-md-4">
			<label class="control-label" for="fld-work-mobile">Telefone celular institucional</label>
			<input type="tel" ui-br-phone-number class="form-control" id="fld-work-mobile" ng-model="$parent.form.mayor.mobile">
		</div>

	</div>
	<div class="panel-footer clearfix">
		<button ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button type="submit" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
	</div>
</form>