<form class="panel panel-default" ng-submit="provisionTenant()" autocomplete="off">
	<div class="panel-heading">
		<h3><strong ng-bind="(step + '.')"></strong> <i class="fa fa-sitemap"></i> Cadastre o coordenador operacional</h3>
	</div>
	<div class="panel-body">

		<div class="col-md-12">
			<h4>Coordenador Operacional</h4>
			<p>
				Agora, informe os dados do Coordenador Operacional. Ele é o responsável por:
			</p>

			<ul style="font-size: 10px"  class="list-group">
				<li class="list-group-item"><i font-site class="fa fa-circle-o"></i> Cadastrar os supervisores institucionais, os técnicos verificadores e os agentes comunitários; </li>
				<li class="list-group-item"><i class="fa fa-circle-o"></i> Estabelecer os parâmetros do sistema de acordo com a realidade do município; </li>
				<li class="list-group-item"><i class="fa fa-circle-o"></i> Acessar as estatísticas gerais da cidade; </li>
				<li class="list-group-item"><i class="fa fa-circle-o"></i> Definir, junto com o gestor político, as estratégias para realizar o projeto no município;</li>
				<li class="list-group-item"><i class="fa fa-circle-o"></i> Coordenar a formação das equipes participantes.</li>
			</ul>
		</div>

		<hr />

		<div class="clearfix">

			<h5>Dados pessoais</h5>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-co-name">Nome*</label>
				<input type="text" class="form-control" name="co_name" id="fld-co-name" required ng-model="admins.operational.name" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-dob">Data de nascimento*</label>
				<input type="tel" ui-date-mask class="form-control" name="co_dob" id="fld-co-dob" required ng-model="admins.operational.dob" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-cpf">CPF*</label>
				<input type="tel" ui-br-cpf-mask class="form-control" name="co_cpf" id="fld-co-cpf" required ng-model="admins.operational.cpf" >
			</div>

			<hr />

			<h5>Contatos</h5>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-work-phone">Telefone fixo institucional*</label>
				<input type="tel" ui-br-phone-number class="form-control" name="co_phone" id="fld-co-work-phone" required ng-model="admins.operational.phone" >
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-work-mobile">Telefone celular institucional</label>
				<input type="tel" ui-br-phone-number class="form-control" name="co_mobile" id="fld-co-work-mobile" ng-model="admins.operational.mobile" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-personal-mobile">Telefone celular pessoal</label>
				<input type="tel" ui-br-phone-number class="form-control" name="co_mobile" id="fld-co-personal-mobile" ng-model="admins.operational.personal_mobile" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-skype-username">Skype</label>
				<input type="text" class="form-control" name="co_username" id="fld-co-skype-username" ng-model="admins.operational.skype" >
			</div>

			<hr />

			<h5>Endereço institucional <small>(opcional)</small></h5>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-co-address">Logradouro</label>
				<input type="text" class="form-control" name="co_address" id="fld-co-address" ng-model="admins.operational.work_address" >
			</div>

			<app-city-select model="admins.operational" uf-field="'work_uf'" city-field="'work_city'" is-uf-required="false" is-city-required="false"></app-city-select>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-cep">CEP</label>
				<input type="tel" ui-br-cep-mask class="form-control" name="co_cep" id="fld-co-cep" ng-model="admins.operational.work_cep" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-neighborhood">Bairro</label>
				<input type="text" class="form-control" name="co_neighborhood" id="fld-co-neighborhood" ng-model="admins.operational.work_neighborhood" >
			</div>

			<hr />

			<h5>Dados organizacionais <small>(opcional)</small></h5>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-institution">Órgão</label>
				<input type="text" class="form-control" name="co_institution" id="fld-co-institution" ng-model="admins.operational.institution" >
			</div>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-position">Cargo</label>
				<input type="text" class="form-control" name="co_position" id="fld-co-position" ng-model="admins.operational.position" >
			</div>

			<hr />

			<h5>Dados de acesso</h5>

			<p>A senha informada será enviada para o e-mail do Coordenador Operacional.</p>

			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-email"><i class="fa fa-envelope"></i> E-mail de acesso*</label>
				<input type="email" class="form-control" name="co_email" id="fld-co-email" required ng-model="admins.operational.email" >
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-co-password"><i class="fa fa-key"></i> Senha de acesso*</label>
				<input type="password" class="form-control" name="co_password" id="fld-co-password" required ng-model="admins.operational.password" >
			</div>
		</div>

	</div>

	<div class="panel-footer clearfix">
		<button type="button" ng-click="prevStep()" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button type="submit" class="btn btn-primary btn-raised pull-right">Finalizar</button>
	</div>

</form>