<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong>4.</strong> <i class="fa fa-tick"></i> Município Cadastrado</h3>
	</div>
	<div class="panel-body">
		<p>A plataforma para o seu município já está disponível para uso!</p>
		<p>Você, Gestor Político, e o Coordenador Operacional cadastrado receberão as senhas de acesso por e-mail. Elas podem ser alteradas no painel "Usuários".</p>
		<p>No primeiro acesso do Coordenador Operacional, será realizada a primeira configuração do município, onde serão indicados grupos de trabalho, prazos, parametrizações e criados novos usuários. Essas configurações podem sempre serem alteradas no menu "Configurações".</p>

		<a ui-sref="login" class="btn btn-primary btn-raised">Faça login para acessar seu município <i class="fa fa-arrow-right"></i></a>

	</div>
</div>