<div class="row">
	<div class="col-md-4">
		<img src="/images/logo_bae_signup.png" title="Busca Ativa Escolar" alt="Busca Ativa Escolar" style="margin: 20px 0;" />
	</div>
	<div class="col-md-8 text-right">
		<h2 style="margin-top: 50px;"><i class="fa fa-lock"></i> Entrar no sistema</h2>
	</div>

	<form name="userLogin" class="col-md-12" ng-submit="login()">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					API
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Endpoint</th>
								<th>Opções</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(endpointID, endpoint) in endpoints.list" ng-if="endpoints.allowed.indexOf(endpointID) !== -1">
								<td>{{endpoint.label}}<br /><small>{{endpoint.api}}</small></td>
								<td>
									<a ng-show="config.CURRENT_ENDPOINT !== endpointID" ng-click="setAPIEndpoint(endpointID)" class="btn btn-xs btn-raised btn-primary">Usar</a>
									<div ng-show="config.CURRENT_ENDPOINT === endpointID" class="btn btn-xs btn-raised btn-success">Atual</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Acessar</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="fld-email" class="control-label">E-mail:</label>
						<input id="fld-email" class="form-control" type="email" name="email" ng-model="email" />
					</div>
					<div class="form-group">
						<label for="fld-password" class="control-label">Senha:</label>
						<input id="fld-password" class="form-control" type="password" name="password" ng-model="password" />
					</div>
				</div>
				<div class="panel-footer clearfix">
					<div class="row">
						<div class="col-lg-6">
							<a type="button" class="btn btn-success" ui-sref="sign_up"><i class="fa fa-edit"></i> Nova cidade participante</a>
						</div>
						<div class="col-lg-6 text-right">
							<a type="button" class="btn btn-warning" ui-sref="forgot_password"><i class="fa fa-question-circle"></i> Esqueci minha senha</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-show="!isLoading" type="submit" class="btn btn-primary btn-raised pull-right"><i class="fa fa-sign-in"></i> Entrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>

