<div id="app-navbar" class="navbar navbar-primary" ng-show="identity.isLoggedIn()">
	<div class="navbar-container container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="dashboard">
				<strong>Busca Ativa Escolar</strong>
				<small ng-bind="identity.getCurrentUser().tenant.name"></small>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-items">

			<ul class="nav navbar-nav">
				<li ng-show="identity.can('dashboard')" ui-sref-active="active"><a ui-sref="dashboard"><i class="fa fa-tachometer"></i> Painel</a></li>
				<li ng-show="identity.can('pending_alerts')"  ui-sref-active="active"><a ui-sref="pending_alerts"><i class="fa fa-bell"></i> Alertas</a></li>
				<li ng-show="identity.can('cases')"  ui-sref-active="active"><a ui-sref="child_browser"><i class="fa fa-list"></i> Casos</a></li>
				<li ng-show="identity.can('reports')"  ui-sref-active="active"><a ui-sref="reports"><i class="fa fa-line-chart"></i> Relatórios</a></li>
				<li ng-show="identity.can('users')"  ui-sref-active="active"><a ui-sref="user_browser"><i class="fa fa-users"></i> Usuários</a></li>
				<li ng-show="identity.can('tenants')"  ui-sref-active="active"><a ui-sref="tenant_browser"><i class="fa fa-university"></i> Municípios</a></li>
				<li ng-show="identity.can('settings')"  ui-sref-active="active"><a ui-sref="settings"><i class="fa fa-cog"></i> Configurações</a></li>
			</ul>


			<ul class="nav navbar-nav navbar-right logged-user">
				<li class="dropdown" uib-dropdown>
					<a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user-circle-o"></i>
						<span class="user-details">
							<strong ng-bind="identity.getCurrentUser().name"></strong>
							<small ng-bind="identity.getCurrentUser().type | lang:'user.type'"></small>
						</span>
						<span class="caret"></span>
					</a>
					<ul uib-dropdown-menu class="dropdown-menu" style="min-width: 270px">
						<li><a ng-click="toggleNotifications($event)"><i class="fa fa-envelope-o"></i> Notificações</a></li>

						<li class="notification-center" uib-collapse="!showNotifications">
							<span ng-show="!notifications.length">Nenhuma notificação recente.</span>
							<div ng-click="notification.open($event, i)" ng-repeat="(i, notification) in notifications" class="navbar-notification alert alert-{{notification.class}}">
								<button ng-click="notification.hide($event, i)" type="button" class="close" data-dismiss="alert" aria-label="Esconder"><span aria-hidden="true">&times;</span></button>
								{{notification.contents}}
							</div>
						</li>

						<li><a ui-sref="child_create_from_alert"><i class="fa fa-bell"></i> Novo alerta</a></li>
						<li><a ui-sref="developer_mode"><i class="fa fa-code"></i> Área do desenvolvedor</a></li>

						<li role="separator" class="divider over-split-btn"></li>

						<li class="has-split-btn" ng-if="identity.can('preferences')">
							<a class="col-md-7 split-btn" ui-sref="preferences"><i class="fa fa-cog"></i> Preferências</a>
							<a class="col-md-5 split-btn" ng-click="identity.disconnect()"><i class="fa fa-sign-out"></i> Sair</a>
						</li>

						<li ng-if="!identity.can('preferences')"><a ng-click="identity.disconnect()"><i class="fa fa-sign-out"></i> Sair</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>