<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong ng-show="!$parent.isEditing">4.</strong> <i class="fa fa-random"></i> Personalização</h3>
	</div>
	<div class="panel-body">

		<p>
			Aqui você poderá personalizar, de acordo com cada causa de evasão escolar, a prioridade de tratamento no sistema, e quais grupos de trabalho serão notificados e poderão interagir com os alertas e casos.
		</p>

		<table class="table parameterization-grid">
			<tbody ng-repeat="(i, cause) in static.getAlertCauses()">
			<tr class="active">
				<th>{{cause.label}}</th>
				<th colspan="2">
					<div class="col-md-4 text-center">
						<label for="rd-cause-priority-high-{{i}}" uib-tooltip="Alta prioridade">
							<input id="rd-cause-priority-high-{{i}}" ng-value="'high'" ng-model="settings.alertPriorities[cause.id]" type="radio" /> <span class="label label-danger">Alta</span>
						</label>
					</div>

					<div class="col-md-4 text-center">
						<label for="rd-cause-priority-medium-{{i}}" uib-tooltip="Média prioridade">
							<input id="rd-cause-priority-medium-{{i}}" ng-value="'medium'" ng-model="settings.alertPriorities[cause.id]"  type="radio" /> <span class="label label-warning">Média</span>
						</label>
					</div>

					<div class="col-md-4 text-center">
						<label for="rd-cause-priority-low-{{i}}" uib-tooltip="Baixa prioridade">
							<input id="rd-cause-priority-low-{{i}}" ng-value="'low'" ng-model="settings.alertPriorities[cause.id]" type="radio" /> <span class="label label-default">Baixa</span>
						</label>
					</div>
				</th>
			</tr>
			<tr ng-repeat="(j, group) in getGroups() track by group.id">
				<td width="70%"><label for="chk-group-view-{{i}}-{{j}}" style="width: 100%; color: black;">{{group.name}}</label></td>
				<td width="30%">
					<label for="chk-group-view-{{i}}-{{j}}" style="width: 100%; text-align: center;" uib-tooltip-html="(group.settings.alerts[cause.id]) ? 'Visualiza e notifica' : 'Não visualiza'">
						<input id="chk-group-view-{{i}}-{{j}}" type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="group.settings.alerts[cause.id]"  />  Visualiza e notifica <i class="fa fa-eye"></i>
					</label>
				</td>
			</tr>
			</tbody>
		</table>

	</div>

	<div class="panel-footer clearfix">
		<button ng-click="save()" type="button" class="btn btn-success btn-raised pull-right">Salvar <i class="fa fa-save"></i></button>
	</div>
</div>