<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong ng-show="!$parent.isEditing">4.</strong> <i class="fa fa-users"></i> Cadastre os grupos de trabalho</h3>
	</div>
	<form name="$parent.$parent.groupsEdit" class="panel-body">
		<p>
			Os grupos de trabalho são grupos de usuários que respondem por diferentes causas de evasão escolar.
			Os grupos que você cadastrar aqui poderão ser customizados para receber um ou mais alertas e casos, de acordo com sua causa.
			Sugerimos que os grupos cadastrados sejam as secretarias municipais ou orgãos da administração pública que irão atuar na (re)matrícula das crianças e adolescentes.
		</p>

		<table class="table sign-up-groups">
			<thead>
			<tr>
				<th width="90%">Nome</th>
				<th width="10%">Opções</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="(i, group) in getGroups() track by i">
				<td><input type="text" ng-disabled="group.is_deleting" ng-class="{'text-will-remove': group.is_deleting}" ng-model="group.name" name="group_{{i}}" class="form-control" placeholder="Nome da secretaria..." /></td>
				<td>
					<span class="btn btn-raised btn-default" ng-show="!group.is_deleting && group.is_primary" uib-tooltip="Esse grupo é responsável pelas atividades de (re)matrícula e observação, e não pode ser apagado ou editado.">Obrigatório</span>
					<a class="btn btn-raised btn-danger" ng-show="!group.is_deleting && !group.is_primary" ng-click="removeGroup(i);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i> Remover</a>
					<a class="btn btn-raised btn-warning" ng-show="group.is_deleting" ng-click="cancelRemoval(i);" uib-tooltip="Cancelar remoção"><i class="fa fa-undo"></i> Cancelar</a>
				</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="$parent.newGroupName" class="form-control" placeholder="Nome da secretaria..." /></td>
				<td><a class="btn btn-raised btn-success" ng-click="addGroup()" uib-tooltip="Adicionar grupo"><i class="fa fa-plus-circle"></i> Novo</a></td>
			</tr>
			</tbody>
		</table>

	</form>

	<div class="panel-footer clearfix">
		<!--button ng-show="!$parent.isEditing" ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button ng-show="!$parent.isEditing" ng-click="nextStep()" type="button" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button-->
		<button ng-click="save()" type="button" class="btn btn-success btn-raised pull-right">Salvar <i class="fa fa-save"></i></button>
	</div>
</div>