<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Revisão do cadastro</h3>
	</div>
	<div class="panel-body">

		<div class="col-md-12" ng-hide="adminType === 'gestor_operacional'">
			<h4>Gestor Político</h4>
			<p>
				O gestor político é o representante direto do governo municipal na plataforma.
				Através do acesso de gestor político, você poderá acompanhar métricas e relatórios de evolução do programa e gerenciar os usuários do município.
			</p>
		</div>

		<div class="col-md-12" ng-show="adminType === 'gestor_operacional'">
			<h4>Coordenador Operacional</h4>
			<p>
				O coordenador operacional deve ser a pessoa responsável por operacionalizar o programa no município no dia-a-dia.
				Esse coordenador terá acesso completo à plataforma, podendo visualizar e acompanhar casos, incluir informações, determinar responsáveis, configurar parametrização, cadastrar e gerenciar usuários e extrair relatórios.
				Esse coordenador também poderá alterar os acessos do Gestor Político e Prefeito, quando ocorrer uma troca de gestão.
				Por isso, sugerimos que essa pessoa seja um funcionário concursado da Prefeitura, para que possa continuar a dar sequência no programa, independente da continuidade da gestão em exercício.
			</p>
		</div>

		<div class="clearfix">

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-confirm-name">Nome*</label>
				<input required type="text" class="form-control" id="fld-confirm-name" ng-bind="admin.name">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-confirm-dob">Data de nascimento*</label>
				<input required type="date" class="form-control" id="fld-confirm-dob" ng-bind="admin.dob">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-confirm-cpf">CPF*</label>
				<input required type="tel" ui-br-cpf-mask class="form-control" id="fld-confirm-cpf" ng-bind="admin.cpf">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-email">E-mail institucional*</label>
				<input required type="email" class="form-control" id="fld-confirm-email" ng-bind="admin.email">
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-work-phone">Telefone fixo institucional</label>
				<input type="tel" ui-br-phone-number class="form-control" id="fld-confirm-work-phone" ng-bind="admin.phone">
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-work-mobile">Telefone celular institucional</label>
				<input type="tel" ui-br-phone-number class="form-control" id="fld-confirm-work-mobile" ng-bind="admin.mobile">
			</div>


			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-personal-email">E-mail pessoal</label>
				<input type="email" class="form-control" id="fld-confirm-personal-email" ng-bind="admin.email">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-personal-mobile">Telefone celular pessoal</label>
				<input type="tel" ui-br-phone-number class="form-control" id="fld-confirm-personal-mobile" ng-bind="admin.mobile">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-skype-username">Skype</label>
				<input type="text" class="form-control" id="fld-confirm-skype-username" ng-bind="admin.username">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-address">Endereço institucional</label>
				<input type="text" class="form-control" id="fld-confirm-address" ng-bind="admin.address">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-cep">CEP institucional</label>
				<input type="tel" ui-br-cep-mask class="form-control" id="fld-confirm-cep" ng-bind="admin.cep">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-neighborhood">Bairro</label>
				<input type="text" class="form-control" id="fld-confirm-neighborhood" ng-bind="admin.neighborhood">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-confirm-uf">Estado</label>
				<input type="text" class="form-control" id="fld-confirm-uf" ng-bind="admin.uf">
			</div>

			<div class="form-group col-md-8">
				<label class="control-label" for="fld-confirm-city">Município</label>
				<input type="text" class="form-control" id="fld-confirm-city" ng-bind="admin.city">
			</div>

			<hr />

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-confirm-institution">Instituição</label>
				<input type="text" class="form-control" id="fld-confirm-institution" ng-bind="admin.institution">
			</div>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-confirm-position">Cargo</label>
				<input type="text" class="form-control" id="fld-confirm-position" ng-bind="admin.position">
			</div>

		</div>

	</div>

	<div class="panel-footer clearfix">
		<button ng-show="!$parent.isEditing" ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button ng-show="!$parent.isEditing" ng-click="nextStep()" type="button" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
		<button ng-show="$parent.isEditing" ng-click="save()" type="button" class="btn btn-success btn-raised pull-right">Salvar <i class="fa fa-save"></i></button>
	</div>
</div>