<div class="panel panel-default">
	<div class="panel-body">
		<div class="list-group">
			<div class="list-group-item timeline-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">15m</div>
					<p class="list-group-item-text"><strong uib-tooltip="John Doe <jdoe@prefeitura.sp.gov.br>, Supervisor de Campo, Secretaria dos Transportes">John Doe</strong><br />atualizou a ficha n&ordm; 125.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item timeline-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">27m</div>
					<p class="list-group-item-text"><strong uib-tooltip="John Doe <jdoe@prefeitura.sp.gov.br>, Supervisor de Campo, Secretaria dos Transportes">Paul Atree</strong><br />enviou um alerta de n&ordm; 762.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item timeline-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">1d</div>
					<p class="list-group-item-text"><strong uib-tooltip="John Doe <jdoe@prefeitura.sp.gov.br>, Supervisor de Campo, Secretaria dos Transportes">Mary Smith</strong><br />verificou o alerta n&ordm; 123 e abriu uma nova ficha.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item timeline-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">3d</div>
					<p class="list-group-item-text"><strong uib-tooltip="John Doe <jdoe@prefeitura.sp.gov.br>, Supervisor de Campo, Secretaria dos Transportes">Mary Smith</strong><br />registrou uma nova anotação no caso n&ordm; 24.</p>
				</div>
			</div>
		</div>
	</div>
</div>