<div class="panel panel-info">
	<div class="panel-body">
		<div class="list-group">
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">15m</div>
					<p class="list-group-item-text"><strong>John Doe</strong><br />atualizou a ficha #125.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">27m</div>
					<p class="list-group-item-text"><strong>Paul Atree</strong><br />enviou um alerta do tipo Abuso Sexual.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">1d</div>
					<p class="list-group-item-text"><strong>Mary Smith</strong><br />verificou o alerta #123 e abriu uma nova ficha.</p>
				</div>
			</div>
		</div>

		<div class="list-group">
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="material-icons">account_box</i>
				</div>
				<div class="row-content">
					<div class="least-content">3d</div>
					<p class="list-group-item-text"><strong>Mary Smith</strong><br />registrou uma nova anotação no caso #24.</p>
				</div>
			</div>
		</div>
	</div>
</div>