<div class="container">
	<div class="col-lg-2">
		<a href="http://www.foradaescolanaopode.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
			<img src="images/logo_fdenp.png" alt="Fora da Escola Não Pode!" title="Fora da Escola Não Pode!" />
		</a>
	</div>
	<div class="col-lg-3">
		<small>um programa</small>
		<div>
			<a href="http://unicef.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_unicef.png" alt="UNICEF" title="UNICEF" />
			</a>
		</div>
	</div>
	<div class="col-lg-3">
		<small>apoio</small>
		<div>
			<a href="http://www.congemas.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_congemas.png" alt="CONGEMAS" title="CONGEMAS" />
			</a>
			<a href="https://undime.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_undime.png" alt="UNDIME" title="UNDIME" />
			</a>
		</div>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-3">
		<small>realização</small>
		<div>
			<a href="https://institutotim.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_instituto_tim.png" alt="Instituto TIM" title="Instituto TIM" />
			</a>
		</div>
		<div>
			<a href="#/credits" class="credits-btn">
				ver licença de uso e créditos
			</a>
		</div>
	</div>
</div>