<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">756</h1>
			<div class="panel-footer">alertas realizados</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">56</h1>
			<div class="panel-footer">casos em andamento</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">1.523</h1>
			<div class="panel-footer">crianças ou adolescentes (re)matriculadas</div>
		</div>
	</div>
</div>