<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">123</h1>
			<div class="panel-footer">cidades participantes</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">7.560</h1>
			<div class="panel-footer">crianças registradas</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">560</h1>
			<div class="panel-footer">casos em aberto</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body">10.523</h1>
			<div class="panel-footer">crianças reinseridas</div>
		</div>
	</div>
</div>