<table class="table parameterization-grid">
	<tbody ng-repeat="(i, name) in causes">
	<tr class="active">
		<th>{{name}}</th>
		<th colspan="2">
			<div class="col-md-4 text-center">
				<label for="rd-cause-priority-high-{{i}}" uib-tooltip="Alta prioridade">
					<input name="rd-cause-priority-{{i}}" id="rd-cause-priority-high-{{i}}" value="high" type="radio" /> <span class="label label-danger">Alta</span>
				</label>
			</div>

			<div class="col-md-4 text-center">
				<label for="rd-cause-priority-medium-{{i}}" uib-tooltip="Média prioridade">
					<input name="rd-cause-priority-{{i}}" id="rd-cause-priority-medium-{{i}}" value="medium" type="radio" /> <span class="label label-warning">Média</span>
				</label>
			</div>

			<div class="col-md-4 text-center">
				<label for="rd-cause-priority-low-{{i}}" uib-tooltip="Baixa prioridade">
					<input name="rd-cause-priority-{{i}}" id="rd-cause-priority-low-{{i}}" value="low" type="radio" /> <span class="label label-default">Baixa</span>
				</label>
			</div>
		</th>
	</tr>
	<tr ng-repeat="(j, name) in groups track by j">
		<td width="70%"><label for="chk-group-view-{{i}}-{{j}}" style="width: 100%; color: black;">{{name}}</label></td>
		<td width="15%">
			<label for="chk-group-view-{{i}}-{{j}}" style="width: 100%; text-align: center;" uib-tooltip="Visualiza">
				<input id="chk-group-view-{{i}}-{{j}}" type="checkbox" checked />  Visualiza <i class="fa fa-eye"></i>
			</label>
		</td>

		<td width="15%">
			<label for="chk-group-notification-{{i}}-{{j}}" style="width: 100%; text-align: center;" uib-tooltip="Recebe notificação">
				<input id="chk-group-notification-{{i}}-{{j}}" type="checkbox" checked />  Notificação <i class="fa fa-envelope"></i>
			</label>
		</td>
	</tr>
	</tbody>
</table>