<div>
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="pull-left"><i class="material-icons">group</i> Usuários</h3>
			<a ng-show="identity.can('users.create')" href="/users/1" class="btn btn-primary btn-raised pull-right"><i class="fa fa-plus"></i> Novo</a>
		</div>
		<div class="panel-body">


			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-filter"></i> Filtros
				</div>

				<div class="panel-body">

					<div class="form-group col-md-6" ng-show="identity.can('users.filter_by_city')">
						<label><i class="fa fa-folder"></i> Estado</label>
						<ui-select ng-model="input.state">
							<ui-select-match allow-clear="true" placeholder="Todas">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="state in states | filter: $select.search track by state.id">
								<div ng-bind-html="state.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group col-md-6" ng-show="identity.can('users.filter_by_city')">
						<label><i class="fa fa-map-marker"></i> Cidade</label>
						<ui-select ng-model="input.city">
							<ui-select-match allow-clear="true" placeholder="Todas">{{$select.selected.state}} / {{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="city in cities | filter: $select.search track by city.id">
								<div>{{city.state}} / {{city.name}}</div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group col-md-6">
						<label><i class="fa fa-users"></i> Grupo</label>
						<ui-select ng-model="input.group">
							<ui-select-match allow-clear="true" placeholder="Todas">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="group in groups | filter: $select.search track by group.id">
								<div ng-bind-html="group.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					
					<div class="form-group col-md-6">
						<label><i class="fa fa-user"></i> Tipo</label>
						<ui-select ng-model="input.userTypes">
							<ui-select-match allow-clear="true" placeholder="Todas">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="userType in userTypes | filter: $select.search track by userType.id">
								<div ng-bind-html="userType.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>

					<div class="form-group col-md-12">
						<label><i class="fa fa-envelope"></i> E-mail</label>
						<input type="search" ng-model="input.email" class="form-control" placeholder="Buscar por e-mail" />
					</div>

					<div class="form-group col-md-6">

						<label><i class="fa fa-list-ol"></i> Limite de exibição</label>
						<ul class="nav nav-pills adm-max-results-filter">
							<li ng-class="{active: max==16}"><a ng-click="setMaxResults(16)">16</a></li>
							<li ng-class="{active: max==32}"><a ng-click="setMaxResults(32)">32</a></li>
							<li ng-class="{active: max==64}"><a ng-click="setMaxResults(64)">64</a></li>
							<li ng-class="{active: max==128}"><a ng-click="setMaxResults(128)">128</a></li>
							<li ng-class="{active: max==null}"><a ng-click="setMaxResults(null)">Tudo</a></li>
						</ul><br />
						<p ng-show="users.length > 0">Total de registros: {{total}}</p>
					</div>

					<div class="form-group col-md-6">

						<label><i class="fa fa-list-ol"></i> Opções</label><br />
						<div class="btn-group">
							<a class="btn btn-default" ng-click="exportXLS()"><i class="fa fa-file-excel-o"></i> Exportar XLS  <span ng-hide="users.length > 0">(todos os registros)</span><span ng-show="users.length > 0">({{ total }} registros)</span></a>
						</div>
					</div>

				</div>
			</div>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>N&ordm; <i class="fa fa-arrow-down"></i></th>						
						<th>Nome <i class="fa fa-arrow-down"></i></th>
						<th>E-mail <i class="fa fa-arrow-down"></i></th>
						<th>Tipo <i class="fa fa-arrow-down"></i></th>
						<th>Grupo <i class="fa fa-arrow-down"></i></th>
						<th ng-show="identity.can('users.edit')">Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in range(1, 12)">
						<td width="6%">#{{2 + i}}</td>
						<td width="22%"><strong><i class="material-icons">person</i> Aryel Tupinambá</strong><br /></td>
						<td width="18%">aryel.tupinamba@lqdi.net</td>
						<td width="18%">Coordenador Operacional</td>
						<td width="18%">Secretaria dos Transportes</td>
						<td width="20%" ng-show="identity.can('users.edit') || identity.can('users.deactivate')">
							<a ui-sref="user_view({user_id: 5})" ng-show="identity.can('users.edit')" class="btn btn-info btn-xs" style="margin: 0;"><i class="material-icons">mode_edit</i> Editar</a>
							<a ng-show="identity.can('users.deactivate')" class="btn btn-info btn-xs" style="margin: 0;"><i class="fa fa-ban"></i> Desativar</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>