<div class="wnd-view">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<h1>
					<i class="material-icons" style="font-size: 36px;">person</i> Aryel Tupinambá <small>Coordenador Operacional</small>
				</h1>
			</div>

			<h2 class="pull-right">#12</h2>

		</div>
		<div class="panel-body">

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-name">Nome*</label>
				<input type="text" class="form-control" id="fld-name" value="Aryel Tupinambá">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-dob">Data de nascimento*</label>
				<input type="text" class="form-control" id="fld-dob" value="25/08/1991">
			</div>
			<div class="form-group col-md-6">
				<label class="control-label" for="fld-cpf">CPF*</label>
				<input type="text" class="form-control" id="fld-cpf" value="123.456.789-00">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-email">E-mail institucional*</label>
				<input type="email" class="form-control" id="fld-email" value="aryel.tupinamba@lqdi.net">
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="fld-work-phone">Telefone fixo institucional*</label>
				<input type="text" class="form-control" id="fld-work-phone" value="(11) 2222-3333">
			</div>
			<div class="form-group col-md-4">
				<label class="control-label" for="fld-work-mobile">Telefone celular institucional</label>
				<input type="text" class="form-control" id="fld-work-mobile" value="(11) 98888-4444">
			</div>


			<div class="form-group col-md-4">
				<label class="control-label" for="fld-personal-email">E-mail pessoal</label>
				<input type="email" class="form-control" id="fld-personal-email" value="aryel@tupinamba.me">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-personal-mobile">Telefone celular pessoal</label>
				<input type="text" class="form-control" id="fld-personal-mobile" value="(11) 98888-4444">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-skype-username">Skype</label>
				<input type="text" class="form-control" id="fld-skype-username" value="aryel.tupinamba">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-address">Endereço institucional*</label>
				<input type="text" class="form-control" id="fld-address" value="Av. Dr. Chucri Zaidan, 1550, cj 1712">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-cep">CEP institucional*</label>
				<input type="text" class="form-control" id="fld-cep" value="04583-110">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-neighborhood">Bairro*</label>
				<input type="text" class="form-control" id="fld-neighborhood" value="Vila Cordeiro">
			</div>

			<div class="form-group col-md-4">
				<label class="control-label" for="fld-uf">Estado*</label>
				<input type="text" class="form-control" id="fld-uf" value="SP">
			</div>

			<div class="form-group col-md-8">
				<label class="control-label" for="fld-city">Município*</label>
				<input type="text" class="form-control" id="fld-city" value="São Paulo/SP">
			</div>

			<hr />

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-type">Função ocupada no sistema*</label>
				<input type="text" class="form-control" id="fld-type" value="Coordenador Operacional">
			</div>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-group">Grupo*</label>
				<input type="text" class="form-control" id="fld-group" value="Secretaria dos Transportes">
			</div>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-institution">Instituição*</label>
				<input type="text" class="form-control" id="fld-institution" value="Prefeitura de São Paulo">
			</div>

			<div class="form-group col-md-12">
				<label class="control-label" for="fld-position">Cargo*</label>
				<input type="text" class="form-control" id="fld-position" value="Diretor de Operações">
			</div>

			<hr />

			<a class="btn btn-raised btn-primary pull-right" href="/users">Salvar</a>

		</div>
	</div>
</div>