<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong>3.</strong> <i class="fa fa-sitemap"></i> Dados dos gestor operacional</h3>
	</div>
	<div class="panel-body">

		<p>Informe aqui os dados do gestor operacional, responsável pela Busca Ativa Escolar no município.</p>

		<h4>Coordenador Operacional</h4>
		<p>
			O coordenador operacional deve ser a pessoa responsável por operacionalizar o programa no município no dia-a-dia. Ele também será responsável por realizar a primeira configuração no sistema.
			Esse coordenador terá acesso completo à plataforma, podendo visualizar e acompanhar casos, incluir informações, determinar responsáveis, configurar parametrização, cadastrar e gerenciar usuários e extrair relatórios.
			Esse coordenador também poderá alterar os acessos do Gestor Político e Prefeito, quando ocorrer uma troca de gestão.
			Por isso, sugerimos que essa pessoa seja um funcionário concursado da Prefeitura, para que possa continuar a dar sequência no programa, independente da continuidade da gestão em exercício.
		</p>

		<div class="form-group col-md-12">
			<label class="control-label" for="fld-co-name">Nome*</label>
			<input type="text" class="form-control" id="fld-co-name" value="Aryel Tupinambá">
		</div>
		<div class="form-group col-md-6">
			<label class="control-label" for="fld-co-dob">Data de nascimento*</label>
			<input type="text" class="form-control" id="fld-co-dob" value="25/08/1991">
		</div>
		<div class="form-group col-md-6">
			<label class="control-label" for="fld-co-cpf">CPF*</label>
			<input type="text" class="form-control" id="fld-co-cpf" value="123.456.789-00">
		</div>

		<div class="form-group col-md-4">
			<label class="control-label" for="fld-co-email">E-mail institucional*</label>
			<input type="email" class="form-control" id="fld-co-email" value="aryel.tupinamba@lqdi.net">
		</div>
		<div class="form-group col-md-4">
			<label class="control-label" for="fld-co-work-phone">Telefone fixo institucional*</label>
			<input type="text" class="form-control" id="fld-co-work-phone" value="(11) 2222-3333">
		</div>
		<div class="form-group col-md-4">
			<label class="control-label" for="fld-co-work-mobile">Telefone celular institucional</label>
			<input type="text" class="form-control" id="fld-co-work-mobile" value="(11) 98888-4444">
		</div>

		<hr />

		<div class="form-group col-md-12">
			<label class="control-label" for="fld-co-institution">Instituição*</label>
			<input type="text" class="form-control" id="fld-co-institution" value="Secretaria de Assistência Social">
		</div>

		<div class="form-group col-md-12">
			<label class="control-label" for="fld-co-position">Cargo*</label>
			<input type="text" class="form-control" id="fld-co-position" value="Diretor de Operações">
		</div>

	</div>

	<div class="panel-footer clearfix">
		<button ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button ng-click="finish()" type="button" class="btn btn-success btn-raised pull-right">Salvar e enviar para aprovação <i class="fa fa-upload"></i></button>
	</div>
</div>