<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong>5.</strong> <i class="fa fa-random"></i> Parametrização</h3>
	</div>
	<div class="panel-body">

		<p>
			Aqui você poderá parametrizar, de acordo com cada causa de evasão escolar, qual sua prioridade de tratamento no sistema, e quais grupos de trabalho serão notificados e poderão interagir com os alertas e casos.
		</p>

		<div ng-include="'/components/parameterization_grid.html'" groups="groups" causes="causes"></div>

	</div>

	<div class="panel-footer clearfix">
		<button ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<button ng-click="finish()" type="button" class="btn btn-success btn-raised pull-right">Salvar e concluir <i class="fa fa-save"></i></button>
	</div>
</div>