<div class="panel panel-default">
	<div class="panel-heading">
		<h3><strong>1.</strong> <i class="fa fa-building"></i> Dados do município</h3>
	</div>
	<div class="panel-body">

		<div>
			<p>
				Localize e selecione o município que irá participar do Busca Ativa Escolar.
				Municípios que já possuem acesso ao programa estarão pintados de cinza e não poderão ser selecionados.
				Caso o seu município não conste na lista, entre em contato com nossa equipe.
			</p>
		</div>

		<div>
			<div class="form-group col-md-3">
				<input type="text" class="form-control" value="SP" placeholder="UF" />
			</div>

			<div class="form-group col-md-9">
				<input type="text" class="form-control" value="São Paulo" placeholder="Município" />
			</div>
		</div>

		<div style="margin: 10px 0;">
			<p>Leia abaixo os termos de adesão, e indique seu aceite abaixo para prosseguir.</p>

			<div class="panel panel-default" style="max-height: 300px; overflow-y: scroll">
				<div class="panel-body">

					<h4>TERMO DE ADESÃO DA PLATAFORMA BUSCA ATIVA ESCOLAR</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label" for="fld-agree_tos-yes" style="margin-right: 10px;">Li e concordo com os termos de adesão acima:</label>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-yes" ng-model="$parent.agreeTOS" ng-value="1" name="agree_tos" value="1" type="radio"> Sim</label>
				</div>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-no" ng-model="$parent.agreeTOS" ng-value="0" name="agree_tos" value="0" type="radio"> Não</label>
				</div>
			</div>
		</div>

	</div>
	<div class="panel-footer clearfix">
		<button ng-click="nextStep()" ng-show="$parent.agreeTOS" type="button" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
	</div>
</div>