<div class="modal-template" id="md-activity-log-entry">
	<div class="modal-header">
		<h3 class="modal-title">Caso n&ordm; 42, alteração #2751</h3>
	</div>
	<div class="modal-body">
		<div class="block">
			<p><strong>Usuário</strong></p>
			<p><i class="fa fa-user"></i> John Doe</p>
		</div>

		<div class="block">
			<p><strong>Ação</strong></p>
			<p><i class="fa fa-gear"></i> Inseriu dados na etapa ANÁLISE TÉCNICA</p>
		</div>

		<div class="block">
			<p><strong>Campos preenchidos</strong></p>

			<div class="well">
				<p>Nome da criaça ou adolescente: John Doe</p>
				<p>Gênero: Masculino</p>
				<p>Grau de risco: Alto</p>
				<p>Resumo da situação: Lorem ipsum dolor sit amet consectuer adpliscir elit.</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="close()">OK</button>
	</div>
</div>