<div class="modal-template" id="md-prompt">
	<div ng-show="question" class="modal-header">
		<h3 class="modal-title">{{question}}</h3>
	</div>
	<div class="modal-body">
		<input type="text" class="form-control" ng-model="answer" placeholder="{{placeholder ? placeholder: '...'}}" />
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
		<button class="btn btn-primary btn-raised" type="button" ng-click="ok()">OK</button>
	</div>
</div>