<div class="modal-template" id="md-user-picker">
	<div class="modal-header">
		<h3 class="modal-title">{{title || 'Selecione um usuário:'}}</h3>
	</div>
	<div class="modal-body">
		<div ng-show="message">{{message}}</div>
		<div class="block">
			<label class="control-label" for="fld-user">Usuário</label>
			<select id="fld-user" class="form-control" ng-options="n as n.name for n in users" ng-model="selectedUser"></select>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-show="canDismiss" ng-click="close()">Cancelar</button>
		<button class="btn btn-primary btn-raised" type="button" ng-click="onSelect()">Selecionar</button>
	</div>
</div>