<div class="modal-template" id="md-user-picker">
	<div class="modal-header">
		<h3 class="modal-title">{{title || 'Selecione um usuário:'}}</h3>
	</div>
	<div class="modal-body" ng-show="hasUsers()">
		<div ng-show="message">{{message}}</div>
		<div class="block">
			<label class="control-label">Usuário</label>
			<ui-select ng-model="$parent.selectedUser">
				<ui-select-match allow-clear="true"><i class="fa fa-user"></i> {{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="user in users | filter: $select.search track by user.id">
					<div><i class="fa fa-user"></i> <strong ng-bind-html="user.name | highlight: $select.search"></strong> <small ng-bind="user.type | lang:'user.type'"></small></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="modal-body" ng-show="!hasUsers()">
		<div class="alert alert-warning"><strong>Nenhum usuário disponível! </strong><span ng-bind="noUsersMessage"></span></div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-show="canDismiss || !hasUsers()" ng-click="close()">Cancelar</button>
		<button class="btn btn-primary btn-raised" type="button" ng-show="hasUsers()" ng-click="onSelect()">Selecionar</button>
	</div>
</div>