<div class="sign-up-header">
	<ul  class="nav nav-pills sign-up-wizard-pills">
		<li style="width: 20%" ng-class="{'active': (step == 1), 'completed' : (step > 1)}"><a ng-click="goToStep(1)"><strong>1.</strong> <i class="fa fa-sitemap"></i> Revisão do cadastro</a></li>
		<li style="width: 25%" ng-class="{'active': (step == 2), 'completed' : (step > 2)}"><a ng-click="goToStep(2)"><strong>2.</strong> <i class="fa fa-users"></i> Cadastre os grupos de trabalho</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 3), 'completed' : (step > 3)}"><a ng-click="goToStep(3)"><strong>3.</strong> <i class="fa fa-users"></i> Cadastre os usuários</a></li>
		<li style="width: 20%" ng-class="{'active': (step == 4), 'completed' : (step > 4)}"><a ng-click="goToStep(4)"><strong>4.</strong> <i class="fa fa-random"></i> Customização</a></li>
		<li style="width: 15%" ng-class="{'active': (step == 5), 'completed' : (step > 5)}"><a ng-click="goToStep(5)"><strong>5.</strong> <i class="fa fa-calendar"></i> Prazos</a></li>
	</ul>
	<hr style="margin-top: 0; margin-bottom: 30px;" />
</div>
