<div class="dashboard dashboard-tecnico-verificador">

	<div class="jumbotron clearfix">

		<div class="col-md-4">
			<h2><i class="material-icons">create_new_folder</i> O que é um alerta?</h2>
			<hr />

			<p class="agent-panel">O alerta é a primeira entrada de dados no sistema. É ele que identifica que há uma criança ou adolescente fora da escola em um determinado local da cidade. Ele traz uma quantidade limitada de informação, pois equivale a uma análise preliminar.</p>

			<hr />

			<a class="btn btn-raised btn-info pull-right" ui-sref="child_create_from_alert">Criar alerta</a>
		</div>

		<div class="col-md-8">
			<h2><i class="material-icons">warning</i> Meus alertas enviados</h2>
			<hr />

			<p>Na tabela abaixo é possível acompanhar os alertas que você criou:</p>

			<hr />

			<my-alerts></my-alerts>

		</div>
	</div>

</div>