<div class="dashboard dashboard-super-administrador">

	<!--div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Números gerais do programa no Brasil</h3>
			<div ng-include="'/views/components/metrics_global.html'"></div>
		</div>
	</div-->

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">info_outline</i> Causas dos alertas <small>últimos 30 dias</small></h3>
			<causes-chart></causes-chart>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">map</i> Mapa brasileiro de alertas</h3>
			<div id="dashboard-map-gestor-nacional">
				<cases-map></cases-map>
			</div>
		</div>
	</div>

</div>