<div class="dashboard dashboard-gestor-politico">

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Evolução da busca ativa escolar (30 dias)</h3>
			<last-month-timeline></last-month-timeline>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">info_outline</i> Causas</h3>
			<causes-chart></causes-chart>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">map</i> Mapa de casos</h3>
			<cases-map></cases-map>
		</div>
	</div>

</div>