<div class="dashboard dashboard-supervisor-institucional">

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">playlist_add_check</i> Casos recebidos</h3>
			<my-assignments></my-assignments>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6">
			<h3><i class="material-icons">update</i> Últimas atualizações no sistema</h3>
			<recent-activity></recent-activity>
		</div>
		<div class="col-md-6">
			<h3><i class="material-icons">map</i> Mapa de casos</h3>

			<div id="dashboard-map-supervisor-institucional">
				<cases-map></cases-map>
			</div>

		</div>
	</div>

</div>