<div class="dashboard dashboard-supervisor-institucional">

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">playlist_add_check</i> Casos recebidos</h3>
			<div ng-include="'/views/components/my_attributions.html'"></div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-4">
			<h3><i class="material-icons">update</i> Últimas atualizações no sistema</h3>
			<div ng-include="'/views/components/activity_feed.html'"></div>
		</div>
		<div class="col-md-8">
			<h3><i class="material-icons">map</i> Mapa de casos</h3>

			<div id="dashboard-map-supervisor-institucional">
				<cases-map></cases-map>
			</div>

		</div>
	</div>

</div>