<div class="dashboard dashboard-super-administrador">

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Status da plataforma</h3>
			<div ng-include="'/views/components/metrics_platform.html'"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<a class="btn btn-default btn-raised text-center dashboard-btn" ui-sref="maintenance_imports">
				<div class="btn-icon"><i class="fa fa-upload"></i></div>
				<div class="btn-label">Importação</div>
			</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-default btn-raised text-center dashboard-btn" ui-sref="sms_conversations">
				<div class="btn-icon"><i class="fa fa-mobile-phone"></i></div>
				<div class="btn-label">Recebimento via SMS</div>
			</a>
		</div>

	</div>

</div>