<div ng-if="identity.getType() == 'agente_comunitario'" ng-include="'dashboards/agente_comunitario.html'"></div>
<div ng-if="identity.getType() == 'tecnico_verificador'" ng-include="'dashboards/tecnico_verificador.html'"></div>
<div ng-if="identity.getType() == 'supervisor_institucional'" ng-include="'dashboards/supervisor_institucional.html'"></div>
<div ng-if="identity.getType() == 'coordenador_operacional'" ng-include="'dashboards/coordenador_operacional.html'"></div>
<div ng-if="identity.getType() == 'gestor_politico'" ng-include="'dashboards/gestor_politico.html'"></div>
<div ng-if="identity.getType() == 'gestor_nacional'" ng-include="'dashboards/gestor_nacional.html'"></div>
<div ng-if="identity.getType() == 'super_administrador'" ng-include="'dashboards/super_administrador.html'"></div>
