<div id="app-navbar" class="navbar navbar-info">
	<div class="navbar-container container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<strong>Busca Ativa Escolar</strong>
				<small ng-bind="cityName"></small>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-items">

			<ul class="nav navbar-nav">
				<li ng-show="identity.can('dashboard')" ng-class="{'active': (section == 'dashboard')}"><a href="#"><i class="material-icons">dashboard</i> Dashboard</a></li>
				<li ng-show="identity.can('cases')" ng-class="{'active': (section == 'cases')}"><a href="#/cases"><i class="material-icons">list</i> Casos</a></li>
				<li ng-show="identity.can('reports')" ng-class="{'active': (section == 'reports')}"><a href="#/reports"><i class="material-icons">show_chart</i> Relatórios</a></li>
				<li ng-show="identity.can('users')" ng-class="{'active': (section == 'users')}"><a href="#/users"><i class="material-icons">group</i> Usuários</a></li>
				<li ng-show="identity.can('cities')" ng-class="{'active': (section == 'cities')}"><a href="#/cities"><i class="material-icons">account_balance</i> Cidades</a></li>
				<li ng-show="identity.can('settings')" ng-class="{'active': (section == 'settings')}"><a href="#/settings"><i class="material-icons">settings</i> Configurações</a></li>
			</ul>


			<ul class="nav navbar-nav navbar-right logged-user">
				<li class="dropdown" uib-dropdown>
					<a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">account_circle</i>
						<span class="user-details">
							<strong ng-bind="identity.getCurrentUser().name"></strong>
							<small ng-bind="identity.getCurrentUser().type"></small>
						</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a href="#/preferences"><i class="material-icons">settings</i> Minhas preferências</a></li>
						<li><a href="#/notifications"><i class="material-icons">notifications</i> Notificações</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-click="identity.setUserType('agente_comunitario')"><i class="material-icons">account_box</i> Debug: Agente Comunitário</a></li>
						<li><a ng-click="identity.setUserType('tecnico_verificador')"><i class="material-icons">account_box</i> Debug: Técnico Verificador</a></li>
						<li><a ng-click="identity.setUserType('supervisor_institucional')"><i class="material-icons">account_box</i> Debug: Supervisor Institucional</a></li>
						<li><a ng-click="identity.setUserType('coordenador_operacional')"><i class="material-icons">account_box</i> Debug: Coordenador Operacional</a></li>
						<li><a ng-click="identity.setUserType('gestor_politico')"><i class="material-icons">account_box</i> Debug: Gestor Político</a></li>
						<li><a ng-click="identity.setUserType('super_administrador')"><i class="material-icons">account_box</i> Debug: Super Administrador</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#"><i class="material-icons">exit_to_app</i> Sair</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>