<div>
	<div class="col-md-12">
		<h3><i class="fa fa-history"></i> Histórico</h3>

		<table class="table">
			<thead>
			<tr>
				<th>Cód</th>
				<th>Data</th>
				<th>Usuário</th>
				<th>Ação</th>
				<th>Detalhes</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>#2751</td>
				<td>2016/Ago/25 15:22</td>
				<td><i class="fa fa-user"></i> John Doe</td>
				<td>Inseriu dados na etapa ANÁLISE TÉCNICA</td>
				<td><a class="btn btn-xs btn-raised btn-default">Ver detalhes</a></td>
			</tr>
			<tr>
				<td>#2622</td>
				<td>2016/Ago/25 15:22</td>
				<td><i class="fa fa-user"></i> John Doe</td>
				<td>Enviou um anexo (#119)</td>
				<td><a class="btn btn-xs btn-raised btn-default">Ver detalhes</a></td>
			</tr>
			<tr>
				<td>#2699</td>
				<td>2016/Ago/25 15:22</td>
				<td><i class="fa fa-user"></i> John Doe</td>
				<td>Registrou uma anotação (#23)</td>
				<td><a class="btn btn-xs btn-raised btn-default">Ver detalhes</a></td>
			</tr>
			<tr>
				<td>#2690</td>
				<td>2016/Ago/25 15:22</td>
				<td><i class="fa fa-user"></i> John Doe</td>
				<td>Alterou a etapa do caso de PESQUISA para ANÁLISE TÉCNICA</td>
				<td><a class="btn btn-xs btn-raised btn-default">Ver detalhes</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>