<h3><i class="material-icons">comment</i> Anotações</h3>

<div class="list-group">
	<div ng-repeat="i in [1,2,3]">
		<hr />
		<div class="list-group-item">
			<div class="row-content">
				<div class="least-content">8m</div>
				<p class="list-group-item-text">
					<strong>John Doe</strong><br />
					Donec id elit non mi porta gravida at eget metus
				</p>
			</div>
		</div>
	</div>
	<div ng-repeat="(i, message) in messages">
		<hr />
		<div class="list-group-item">
			<div class="row-content">
				<div class="least-content">1m</div>
				<p class="list-group-item-text">
					<strong>{{message.user.name}}</strong><br />
					{{message.body}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="fld-register-comment">Registrar anotação</label>
	<div class="row">
		<div class="col-md-9">
			<input type="text" class="form-control" id="fld-register-comment" ng-model="message" placeholder="Digite sua mensagem...">
		</div>
		<div class="col-md-3 btn-group-sm">
			<a class="btn btn-raised btn-success btn-fab" ng-click="sendMessage();"><i class="material-icons">send</i></a>
		</div>
	</div>
</div>