<h3><i class="material-icons">comment</i> Anotações</h3>

<div class="list-group">
	<div ng-repeat="i in [1,2,3]">
		<hr />
		<div class="list-group-item">
			<div class="row-picture">
				<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
			</div>
			<div class="row-content">

				<h4 class="list-group-item-heading">John Doe</h4>
				<div class="least-content">8m</div>

				<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
			</div>
		</div>
	</div>

	<div ng-repeat="(i, message) in messages">
		<hr />
		<div class="list-group-item">
			<div class="row-picture">
				<img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
			</div>
			<div class="row-content">

				<h4 class="list-group-item-heading">{{message.user.name}}</h4>
				<div class="least-content">1s</div>

				<p class="list-group-item-text">{{message.body}}</p>
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<div>
		<div class="col-md-12">
			<label class="control-label" for="fld-register-comment">Registrar anotação</label>
		</div>
	</div>
	<div>
		<div class="col-md-11">
			<input type="text" class="form-control" id="fld-register-comment" ng-model="message" placeholder="Digite sua mensagem...">
		</div>
		<div class="col-md-1 btn-group-sm">
			<a class="btn btn-raised btn-success btn-fab" ng-click="sendMessage();"><i class="material-icons">send</i></a>
		</div>
	</div>
</div>