<div class="wnd-view">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<h1>
					<i class="material-icons" style="font-size: 36px;">folder_shared</i> Edward Doe <small>Jane Doe / John Doe</small>
				</h1>
			</div>

			<h2 class="pull-right">#42</h2>

			<div class="pull-right btn btn-raised btn-default btn-fab" style="margin: 10px 15px;" uib-tooltip="Masculino"><i class="material-icons fa fa-mars"></i></div>

			<div class="pull-right" style="margin: 0 10px;">
				<label class="control-label" style="margin: 0;">Prioridade do caso</label>
				<div class="dropdown case-step-dropdown" uib-dropdown is-open="false">
					<a class="btn btn-warning btn-raised dropdown-toggle" uib-dropdown-toggle style="width: 100%">Alta <span class="caret"></span></a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a>Alta</a></li>
						<li><a>Média</a></li>
						<li><a>Baixa</a></li>
					</ul>
				</div>
			</div>

			<div class="pull-right" style="margin: 0 10px;">
				<label class="control-label" style="margin: 0;">Etapa atual</label>
				<div>
					<a class="btn btn-info btn-raised" ng-click="activeTab = 1; currentForm = currentStep">{{steps[currentStep].name}}</a>
				</div>
			</div>

		</div>

		<uib-tabset active="activeTab" class="tab-content">
			<uib-tab index="0">
				<uib-tab-heading><i class='fa fa-info-circle'></i> Informações Consolidadas</uib-tab-heading>
				<div class="panel-body" ng-include="'/cases/view/consolidated.html'"></div>
			</uib-tab>
			<uib-tab index="1">
				<uib-tab-heading><i class='fa fa-tasks'></i> Evolução do Caso</uib-tab-heading>
				<div class="panel-body" ng-include="'/cases/view/steps.html'"></div>
			</uib-tab>
			<uib-tab index="2" >
				<uib-tab-heading><i class='fa fa-history'></i> Histórico</uib-tab-heading>
				<div class="panel-body"></div>
			</uib-tab>
			<uib-tab index="3">
				<uib-tab-heading><i class='fa fa-comments'></i> Anotações</uib-tab-heading>
				<div class="panel-body" ng-include="'/cases/view/comments.html'"></div>
			</uib-tab>
			<uib-tab index="4">
				<uib-tab-heading><i class='fa fa-paperclip'></i> Anexos</uib-tab-heading>
				<div class="panel-body" ng-include="'/cases/view/attachments.html'"></div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>