<div class="row">
	<div class="col-md-3">
		<h3><i class="material-icons">assignment</i> Etapas</h3>
		<hr />

		<div class="step-list" style="width: 100%">
			<div class="step {{getCaseTimelineClass(step.id)}}" ng-repeat="(i, step) in steps" ng-click="openForm(step.id)" ng-class="{active: (currentForm == step.id)}">
				<strong>{{step.name}}</strong>
				<span ng-show="isPastStep(step.id, true)">25/Ago/2016</span>
				<span class="btn btn-xs btn-info btn-raised btn-complete-step" ng-click="saveAndProceed()" ng-show="step.id == currentStep">Concluir etapa</span>
			</div>
		</div>

	</div>

	<div class="col-md-9">
		<h3><i class="material-icons">person</i> <span ng-bind="getFormName()"></span></h3>
		<hr />

		<div ng-include="'/cases/view/case_info.html'" ng-init="editable = true"></div>

		<div class="panel" ng-class="{'panel-warning': currentStep == 'analise_tecnica'}" ng-show="isPastStep('analise_tecnica')">
			<div class="panel-heading"  ng-click="togglePanel('analise_tecnica')"><i class="material-icons">info</i> Relatório da análise técnica</div>
			<div class="panel-body"  uib-collapse="!isOpen('analise_tecnica')">

				<div class="form-group col-md-12">
					<label class="control-label" for="fld-priority">Grau de risco da criança ou adolescente baseado nas causas identificadas</label>
					<input type="text" class="form-control" id="fld-priority" value="Alto">
				</div>

				<div class="form-group col-md-12">
					<label class="control-label" for="fld-overview">Resumo da situação</label>
					<textarea rows="4" class="form-control" id="fld-overview">Lorem ipsum dolor sit amet, consectuer adplisir elit lorem ipsum dolor sit amet consectuer adpliscir elit lorem ipsum dolor.</textarea>
				</div>

				<hr />

				<a class="btn btn-raised btn-info" ng-click="save()">Salvar</a>
				<a class="btn btn-info" ng-click="saveAndProceed()" ng-show="hasNextStep()">Salvar e concluir etapa <span ng-bind="getFormName()"></span></a>
			</div>
		</div>
	</div>
</div>