<div class="row">
	<div class="col-md-4">
		<img src="/images/logo_bae_signup.png" title="Busca Ativa Escolar" alt="Busca Ativa Escolar" style="margin: 20px 0;" />
	</div>
	<div class="col-md-8 text-right">
		<h2 style="margin-top: 50px;"><i class="fa fa-question-circle"></i> Esqueci minha senha</h2>
	</div>

	<form name="passwordReset" class="col-md-12" ng-submit="resetPassword()">
		<div class="col-md-6 center-block" style="float: none;">
			<div class="panel panel-default">
				<div class="panel-heading">Trocar senha</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="fld-email" class="control-label"><i class="fa fa-envelope"></i> E-mail:</label>
						<input id="fld-email" readonly class="form-control" type="email" name="email" ng-model="email" />
					</div>
					<div class="form-group">
						<label for="fld-email" class="control-label"><i class="fa fa-key"></i> Nova senha:</label>
						<input id="fld-password" required class="form-control" type="password" name="password" ng-model="newPassword" />
					</div>
					<div class="form-group">
						<label for="fld-email" class="control-label"><i class="fa fa-key"></i> Repita a nova senha:</label>
						<input id="fld-password_confirm" required class="form-control" type="password" name="password_confirm" ng-model="newPasswordConfirm" />
					</div>
				</div>
				<div class="panel-footer clearfix">
					<button ng-show="!isLoading" type="submit" class="btn btn-primary btn-raised pull-right">Alterar senha <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</div>
	</form>

</div>

