<div class="sign-up-header">
	<ul class="nav nav-pills sign-up-wizard-pills">
		<li class="completed" style="width: 12%"><a><strong>1.</strong> <i class="fa fa-check-circle"></i> Aprovação</a></li>
		<li style="width: 18%" ng-class="{'active': (step == 2), 'completed' : (step > 2)}"><a ng-click="goToStep(2)"><strong>2.</strong> <i class="fa fa-sitemap"></i> Revisão do cadastro</a></li>
		<li style="width: 15%" ng-class="{'active': (step == 3), 'completed' : (step > 3)}"><a ng-click="goToStep(3)"><strong>3.</strong> <i class="fa fa-users"></i> Coordenador</a></li>
		<li style="width: 15%" ng-class="{'active': (step == 4), 'completed' : (step > 4)}"><a ng-click="goToStep(4)"><strong>4.</strong> <i class="fa fa-users"></i> Grupos</a></li>
		<li style="width: 15%" ng-class="{'active': (step == 5), 'completed' : (step > 5)}"><a ng-click="goToStep(5)"><strong>5.</strong> <i class="fa fa-users"></i> Usuários</a></li>
		<li style="width: 15%" ng-class="{'active': (step == 6), 'completed' : (step > 6)}"><a ng-click="goToStep(6)"><strong>6.</strong> <i class="fa fa-random"></i> Customização</a></li>
		<li style="width: 10%" ng-class="{'active': (step == 7), 'completed' : (step > 7)}"><a ng-click="goToStep(7)"><strong>7.</strong> <i class="fa fa-calendar"></i> Prazos</a></li>
	</ul>
	<hr style="margin-top: 0; margin-bottom: 30px;" />
</div>

