<div class="clearfix">
	<div class="col-md-9">
		<h3><i class="material-icons">attach_file</i> Anexos</h3>
	</div>
	<div class="col-md-3 text-right">
		<a class="btn btn-raised btn-primary" style="width: 100%;"><i class="fa fa-upload"></i> Enviar arquivo</a>
	</div>
	<div class="col-md-12">
		<hr />
		<table class="table">
			<thead>
				<tr>
					<th>Cód.</th>
					<th>Data</th>
					<th>Nome do arquivo</th>
					<th>Descrição</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="i in [1,2,3,4]">
				<td>#{{i}}</td>
				<td>2016/Ago/25 15:22</td>
				<td>Lorem ipsum dolor.xls</td>
				<td>Aasdasd asdajshdg jahsdg jashd ajshdg ajshdgajshdga</td>
				<td><a class="btn btn-xs btn-raised btn-success"><i class="fa fa-download"></i> Download</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

