<div>
	<div class="col-md-12">
		<h3><i class="material-icons">comment</i> Anotações</h3>

		<table class="table">
			<thead>
			<tr>
				<th>Cód</th>
				<th>Data</th>
				<th>Usuário</th>
				<th>Anotação</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="i in [1,2,3,4]">
				<td>#{{i * 12345}}</td>
				<td>2016/Ago/25 15:22</td>
				<td><i class="fa fa-user"></i> John doe</td>
				<td>Aasdasd asdajshdg jahsdg jashd ajshdg ajshdgajshdga<br />sdfhgds jhsdfhsdf s<br />ashd jasgdjh gajsdh ajhsdgajshdg asda</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="form-group">
	<div>
		<div class="col-md-12">
			<label class="control-label" for="fld-register-comment">Registrar anotação</label>
		</div>
	</div>
	<div>
		<div class="col-md-11">
			<input type="text" class="form-control" id="fld-register-comment" ng-model="message" placeholder="Digite sua mensagem...">
		</div>
		<div class="col-md-1 btn-group-sm">
			<a class="btn btn-raised btn-success btn-fab" ng-click="sendMessage();"><i class="material-icons">send</i></a>
		</div>
	</div>
</div>