<div class="row">
	<div class="col-md-3">
		<h3><i class="material-icons">assignment</i> Etapas</h3>
		<hr />

		<div ng-repeat="(i, case) in child.cases" class="panel panel-default">
			<div class="panel-heading" ng-click="collapseCase(case)">
				#{{case.name}}
				<span ng-show="case.case_status === 'cancelled'" class="label label-warn">Cancelado {{case.updated_at | amTimeAgo}}</span>
				<span ng-show="case.case_status === 'interrupted'" class="label label-danger">Reincidiu {{case.updated_at | amTimeAgo}}</span>
				<span ng-show="case.case_status === 'completed'" class="label label-success">Concluído {{case.updated_at | amTimeAgo}}</span>
				<span ng-show="case.case_status === 'in_progress'" class="label label-primary">Em andamento</span>
			</div>
			<div class="panel-body" uib-collapse="isCaseCollapsed(case)">
				<div class="step-list" style="width: 100%">

					<div ng-repeat="(i, step) in case.steps" class="step" ng-click="openStep(step)">
						<strong>{{Decorators.Step.name(step)}}</strong>
						<span>{{step.updated_at | amTimeAgo}}</span>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn-danger btn-raised" ng-show="identity.can('case.close') && !isCaseClosed" ng-click="closeCase()" style="width: 100%"><i class="fa fa-ban"></i> Cancelar caso</a>

	</div>

	<div class="col-md-9">
		<h3><i class="material-icons">person</i> <span ng-bind="getFormName()"></span></h3>
		<hr />

		<div ng-include="'/views/children/view/case_info.html'" ng-init="editable = true; showAll = false"></div>
	</div>
</div>