<div class="wnd-view wnd-view-case">
	<div class="panel panel-default has-subnav-tabs">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<h1>
					<i class="fa fa-folder"></i> {{child.name}} <small>{{Decorators.Child.parents(child)}}</small>
				</h1>
				<div style="display: inline-block; vertical-align: middle; margin-top: -20px; padding-left: 34px">
					<span class="label label-warning" ng-show="child.child_status === 'out_of_school'">Fora da Escola</span>
					<span class="label label-primary" ng-show="child.child_status === 'in_observation'">Em observação</span>
					<span class="label label-success" ng-show="child.child_status === 'in_school'">Dentro da Escola</span>
				</div>
			</div>

			<div class="pull-right btn btn-raised btn-default btn-fab" style="margin: 10px 15px;" ng-show="child.gender" uib-tooltip-html="child.gender | lang:'child.gender'">
				<i class="material-icons fa {{child.gender | lang:'child.gender_icon'}}"></i>
			</div>

			<div class="pull-right" style="margin: 0 10px;">
				<label class="control-label panel-header-label" style="margin: 0;">Grau de risco</label>
				<div>
					<a class="btn {{child.risk_level | lang:'risk_level.btn_class'}} btn-raised" style="width: 100%">{{child.risk_level | lang:'risk_level'}}</a>
				</div>
			</div>

			<div class="pull-right" style="margin: 0 10px;">
				<label class="control-label panel-header-label" style="margin: 0;">Etapa atual</label>
				<div>
					<a class="btn btn-info btn-raised" ui-sref="child_viewer.cases.view_step({step_type: child.currentStep.step_type, step_id: child.currentStep.id})">{{child.currentStep.name}}</a>
				</div>
			</div>

		</div>

		<ul class="nav nav-tabs">
			<!--li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".consolidated"><i class="fa fa-info-circle"></i> Informações consolidadas</a></li-->
			<li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".cases"><i class="fa fa-tasks"></i> Evolução do Caso</a></li>
			<li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".activity_log"><i class="fa fa-history"></i> Histórico</a></li>
			<li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".comments"><i class="fa fa-comments"></i> Anotações</a></li>
			<li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".attachments"><i class="fa fa-paperclip"></i> Anexos</a></li>
			<!--li class="nav-item uib-tab" ui-sref-active="active"><a ui-sref=".assigned_users"><i class="fa fa-users"></i> Responsáveis</a></li-->
		</ul>

		<div class="panel-body" ui-view></div>

	</div>
</div>