<div class="wnd-view">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<h1>
					<i class="material-icons" style="font-size: 36px;">folder_shared</i> Edward Doe <small>Jane Doe</small>
				</h1>
			</div>

			<h2 class="pull-right">#42</h2>
			<div class="pull-right btn btn-raised btn-warning btn-fab" style="margin: 10px 15px;" uib-tooltip="Masculino"><i class="material-icons fa fa-mars"></i></div>
			<div class="pull-right" style="margin: 0 10px;">
				<label class="control-label" style="margin: 0;">Etapa atual</label>
				<div class="dropdown case-step-dropdown" uib-dropdown is-open="false">
					<a class="btn btn-info btn-raised dropdown-toggle" uib-dropdown-toggle style="width: 100%">{{steps[currentStep].name}} <span class="caret"></span></a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li ng-repeat="(i, step) in steps" ng-class="{'active': (currentStep == step.id)}"><a ng-click="setCaseStep(step.id)">{{step.name}}</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-md-2 button-menu">
					<h3><i class="material-icons">assignment</i> Fichas</h3>
					<hr />

					<a ng-click="openForm('consolidada')" class="btn btn-default btn-raised btn-sm" style="width: 100%"> Ver ficha consolidada</a>

					<div class="btn-group btn-group-vertical" style="width: 100%">
						<a class="btn" ng-repeat="(i, step) in steps" ng-click="openForm(step.id)" ng-class="getCaseTimelineClass(step.id)"><i ng-show="currentStep == step.id" class="fa fa-circle-right"></i> {{step.name}}</a>
					</div>

					<hr />
					<h3><i class="material-icons">settings</i> Opções</h3>
					<hr />

						<a class="btn btn-default btn-raised btn-sm" style="width: 100%" ng-click="sendToApp()"><i class="material-icons">perm_device_information</i> Enviar p/ app</a>
						<a class="btn btn-default btn-raised btn-sm" style="width: 100%" href="javascript:window.print()"><i class="material-icons">print</i> Imprimir</a>
				</div>
				<div class="col-md-7">
					<h3><i class="material-icons">person</i> Ficha da criança <small ng-bind="getFormName()"></small></h3>
					<hr />

					<div ng-show="currentForm == 'consolidada'" class="alert alert-dismissible alert-success">
						<button type="button" class="close" data-dismiss="alert">×</button>
						A ficha com os <strong>dados consolidados</strong> mostra todas as informações já disponíveis, exibindo sempre as últimas informações coletadas.
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" ng-click="togglePanel('info')"><i class="material-icons">person</i> Informações pessoas</div>
						<div class="panel-body" uib-collapse="!isOpen('info')">
							<div class="form-group col-md-6">
								<label class="control-label" for="fld-name">Nome da criança</label>
								<input type="text" class="form-control" id="fld-name" value="Edward Doe">
							</div>
							<div class="form-grouo col-md-3">
								<label class="control-label" for="fld-gender">Gênero</label>
								<select id="fld-gender" class="form-control">
									<option selected>Masculino</option>
									<option>Feminino</option>
									<option>Indefinido</option>
								</select>
							</div>
							<div class="form-grouo col-md-3">
								<label class="control-label" for="fld-raca">Raça / Etnia</label>
								<select id="fld-raca" class="form-control">
									<option selected>Caucasiano</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label class="control-label" for="fld-type">Nome da mãe</label>
								<input type="text" class="form-control" id="fld-type" value="Jane Doe">
							</div>
							<div class="form-group col-md-6">
								<label class="control-label" for="fld-dob">Data de nascimento</label>
								<input type="date" class="form-control" id="fld-dob" value="25/08/1991">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label" for="fld-rg">RG</label>
								<input type="text" class="form-control" id="fld-rg" value="12.345.678-X">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label" for="fld-cpf">CPF</label>
								<input type="text" class="form-control" id="fld-cpf" value="123.456.789-00">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label" for="fld-codsus">Código SUS</label>
								<input type="text" class="form-control" id="fld-codsus" value="12345678">
							</div>
							<div class="form-group col-md-12">
								<label class="control-label">Motivos de estar fora da escola</label>
								<div class="checkbox" ng-repeat="(i, reason) in reasons">
									<label>
										<input type="checkbox"> {{reason}}
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" ng-click="togglePanel('location')"><i class="material-icons">map</i> Dados de localização</div>
						<div class="panel-body" uib-collapse="!isOpen('location')">
							<div class="form-group col-md-8">
								<label class="control-label" for="fld-address">Endereço</label>
								<input type="text" class="form-control" id="fld-address" value="Alameda Barão de Piracicaba, 500">
							</div>
							<div class="form-group col-md-4">
								<label class="control-label" for="fld-cep">CEP</label>
								<input type="text" class="form-control" id="fld-cep" value="01234-567">
							</div>
							<div class="form-group col-md-12">
								<label class="control-label" for="fld-reference">Referência geográfica</label>
								<input type="text" class="form-control" id="fld-reference" value="Esquina com a Rua ABCD, em frente a loja XYZ">
							</div>
							<div class="form-group col-md-5">
								<label class="control-label" for="fld-neighborhood">Bairro</label>
								<input type="text" class="form-control" id="fld-neighborhood" value="Campos Elíseos">
							</div>
							<div class="form-group col-md-5">
								<label class="control-label" for="fld-city">Cidade</label>
								<input type="text" class="form-control" id="fld-city" value="São Paulo">
							</div>
							<div class="form-group col-md-2">
								<label class="control-label" for="fld-uf">UF</label>
								<input type="text" class="form-control" id="fld-uf" value="SP">
							</div>
							<div class="form-group col-md-6">
								<label class="control-label" for="fld-phone">Telefone residencial</label>
								<input type="text" class="form-control" id="fld-phone" value="(11) 2222-3333">
							</div>
							<div class="form-group col-md-6">
								<label class="control-label" for="fld-mobile">Telefone celular</label>
								<input type="text" class="form-control" id="fld-mobile" value="(11) 98888-4444">
							</div>

							<hr />

							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233625.05444355367!2d-46.669789076782926!3d-23.804674461039355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce3fc6927dd0c3%3A0xcdcd0d550f9656cf!2sS%C3%A3o+Bernardo+do+Campo%2C+State+of+S%C3%A3o+Paulo!5e0!3m2!1sen!2sbr!4v1472523514072" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="panel" ng-class="{'panel-warning': currentStep == 'parecer'}" ng-show="isPastStep('parecer')">
						<div class="panel-heading"  ng-click="togglePanel('parecer')"><i class="material-icons">info</i> Dados do parecer</div>
							<div class="panel-body"  uib-collapse="!isOpen('parecer')">

							<div class="form-group col-md-12">
								<label class="control-label" for="fld-priority">Grau de risco da criança ou adolescente baseado nas causas identificadas</label>
								<input type="text" class="form-control" id="fld-priority" value="Alto">
							</div>

							<div class="form-group col-md-12">
								<label class="control-label" for="fld-overview">Resumo da situação</label>
								<textarea rows="4" class="form-control" id="fld-overview">Lorem ipsum dolor sit amet, consectuer adplisir elit lorem ipsum dolor sit amet consectuer adpliscir elit lorem ipsum dolor.</textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<h3><i class="material-icons">comment</i> Anotações</h3>

					<div class="list-group">
						<div ng-repeat="i in [1,2,3]">
							<hr />
							<div class="list-group-item">
								<div class="row-content">
									<div class="least-content">8m</div>
									<p class="list-group-item-text">
										<strong>John Doe</strong><br />
										Donec id elit non mi porta gravida at eget metus
									</p>
								</div>
							</div>
						</div>
						<div ng-repeat="(i, message) in messages">
							<hr />
							<div class="list-group-item">
								<div class="row-content">
									<div class="least-content">1m</div>
									<p class="list-group-item-text">
										<strong>{{message.user.name}}</strong><br />
										{{message.body}}
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label" for="fld-register-comment">Registrar anotação</label>
						<div class="row">
							<div class="col-md-9">
								<input type="text" class="form-control" id="fld-register-comment" ng-model="message" placeholder="Digite sua mensagem...">
							</div>
							<div class="col-md-3 btn-group-sm">
								<a class="btn btn-raised btn-success btn-fab" ng-click="sendMessage();"><i class="material-icons">send</i></a>
							</div>
						</div>
					</div>

					<hr />
					<h3><i class="material-icons">attach_file</i> Anexos</h3>

					<table class="table">
						<tbody>
							<tr ng-repeat="i in [1,2,3,4]">
								<td>Lorem ipsum dolor.xls</td>
								<td><a class="btn btn-xs btn-success"><i class="fa fa-download"></i> Download</a></td>
							</tr>
						</tbody>
					</table>

					<a class="btn btn-raised btn-success" style="width: 100%;"><i class="fa fa-upload"></i> Enviar arquivo</a>

				</div>
			</div>

		</div>
	</div>
</div>