<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3><i class="material-icons">list</i> Casos</h3>
		</div>
		<div class="panel-body">

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nome <br /><small>da criança ou adolescente</small></th>
						<th>Risco <br />&nbsp;</th>
						<th>Idade <br />&nbsp;</th>
						<th>Etapa <br />&nbsp;</th>
						<th>Responsável <br /><small>pela etapa</small></th>
						<th>Status <br /><small>do caso</small></th>
						<th class="text-center"><br />&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(i, child) in search.results">
						<td width="34%" style="vertical-align: middle;">
							<strong style="font-size: 15px;">
								<i class="fa {{child.gender | lang:'child.gender_icon'}}" ng-show="child.gender"></i>
								{{child.name}}
							</strong><br />
							<small><span uib-tooltip="Pais ou responsáveis"><i class="fa fa-users"></i> {{Decorators.Child.parents(child)}}</span></small>
						</td>
						<td width="10%" style="vertical-align: middle;">
							<div class="label label-danger" uib-tooltip="Alto Risco" ng-show="child.risk_level === 'high'">A</div>
							<div class="label label-warning" uib-tooltip="Médio Risco" ng-show="child.risk_level === 'medium'">M</div>
							<div class="label label-default" uib-tooltip="Baixo Risco" ng-show="child.risk_level === 'low'">B</div>
						</td>
						<td width="10%" style="vertical-align: middle;">
							<span ng-show="child.age">{{child.age}} anos</span>
							<span ng-show="!child.age"><span uib-tooltip="Informação não disponível" class="label label-default">n/d</span></span>
						</td>
						<td width="10%" style="vertical-align: middle;">
							<strong>{{child.step_name}}</strong>
						</td>
						<td width="28%" style="vertical-align: middle;">
							<span ng-show="child.assigned_user_name"><i class="fa fa-user"></i> {{child.assigned_user_name}} <br /></span>
							<span ng-show="!child.assigned_user_name"><span class="label label-warning" uib-tooltip="Nenhum usuário atribuído">---</span></span>
						</td>
						<td width="8%" style="vertical-align: middle;">
							<span class="label label-danger" ng-show="child.is_late">Em atraso!</span>
							<span class="label label-info" ng-show="!child.is_late && child.child_status === 'out_of_school'">Em andamento</span>
							<span class="label label-info" ng-show="!child.is_late && child.child_status === 'in_observation'">Em observação</span>
							<span class="label label-success" ng-show="!child.is_late && child.child_status === 'in_school'">Concluído</span>
						</td>
						<td width="6%" class="text-center" style="vertical-align: middle;">
							<div class="btn-group">
								<a ui-sref="child_viewer({child_id: child.id})" class="btn btn-default btn-sm btn-raised" style="padding: 8px 10px" uib-tooltip="Incluir informações"><i class="fa fa-edit"></i></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<div class="col-md-3">
	<form name="childSearch" ng-submit="refresh()" class="panel panel-info">
		<div class="panel-heading">
			<i class="material-icons">filter_list</i> Buscar e filtrar
		</div>
		<div class="panel-body">

			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-name">Por nome</label>
				<input type="text" class="form-control" id="filter-name" ng-model="query.name" placeholder="Nome da criança...">
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-type">Por causa</label>
				<input type="text" class="form-control" id="filter-type"  ng-model="query.cause_name" placeholder="Causa do caso...">
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-stage">Por etapa</label>
				<input type="text" class="form-control" id="filter-stage" ng-model="query.step_name" placeholder="Etapa do caso...">
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-assigned-user">Por responsável pelo caso</label>
				<input type="text" class="form-control" id="filter-assigned-user" ng-model="query.assigned_user_name" placeholder="Nome do usuário...">
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-full-address">Por endereço</label>
				<input type="text" class="form-control" id="filter-full-address" ng-model="query.location_full" placeholder="Bairro, CEP, nome da rua...">
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-status-sent">Por status do alerta</label>
				<div class="checkbox"><label for="filter-status-sent"><input type="checkbox" id="filter-status-sent" checklist-model="query.alert_status" checklist-value="'accepted'" name="filter-alert_status_accepted"> Procedente</label></div>
				<div class="checkbox"><label for="filter-status-rejected"><input type="checkbox" id="filter-status-rejected" checklist-model="query.alert_status" checklist-value="'rejected'" name="filter-alert_status_rejected"> Improcedente</label></div>
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-status-in_progress">Por status do caso</label>
				<div class="checkbox"><label for="filter-status-in_progress"><input type="checkbox" id="filter-status-in_progress"  checklist-model="query.case_status" checklist-value="'in_progress'" name="filter-case_status_in_progress"> Em andamento</label></div>
				<div class="checkbox"><label for="filter-status-cancelled"><input type="checkbox" id="filter-status-cancelled"  checklist-model="query.case_status" checklist-value="'cancelled'" name="filter-case_status_cancelled"> Cancelado</label></div>
				<div class="checkbox"><label for="filter-status-completed"><input type="checkbox" id="filter-status-completed"  checklist-model="query.case_status" checklist-value="'completed'" name="filter-case_status_completed"> Dentro da Escola</label></div>
				<div class="checkbox"><label for="filter-status-interrupted"><input type="checkbox" id="filter-status-interrupted"  checklist-model="query.case_status" checklist-value="'interrupted'" name="filter-case_status_interrupted"> Interrompido</label></div>
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-risk-level-low">Por grau de risco</label>
				<div class="checkbox"><label for="filter-risk-level-low"><input type="checkbox" id="filter-risk-level-low" checklist-model="query.risk_level" checklist-value="'low'" name="filter-risk_level_low"> Baixo</label></div>
				<div class="checkbox"><label for="filter-risk-level-medium"><input type="checkbox" id="filter-risk-level-medium" checklist-model="query.risk_level" checklist-value="'medium'" name="filter-risk_level_medium"> Médio</label></div>
				<div class="checkbox"><label for="filter-risk-level-high"><input type="checkbox" id="filter-risk-level-high" checklist-model="query.risk_level" checklist-value="'high'" name="filter-risk_level_high"> Alto</label></div>
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-age-from">Por idade</label>
				<div class="form-inline">
					<span> de </span>
					<input type="number" style="width: 40px; text-align: center" min="0" max="28" class="form-control" id="filter-age-from" ng-model="query.age.from">
					<span> a </span>
					<input type="number" style="width: 40px; text-align: center" min="0" max="28" class="form-control" id="filter-age-to" ng-model="query.age.to">
					<span> anos </span>
				</div>
				<div class="checkbox"><label for="filter-age-null"><input type="checkbox" ng-model="query.age_null" name="filter-age_null" id="filter-age-null"> Casos sem informação</label></div>
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-gender-male">Por sexo</label>
				<div class="form-inline row">
					<div class="checkbox col-md-6"><label for="filter-gender-male"><input type="checkbox" checklist-model="query.gender" checklist-value="'male'" name="filter-gender_male" id="filter-gender-male"> <i class="fa fa-mars"></i> Masc.</label></div>
					<div class="checkbox col-md-6"><label for="filter-gender-female"><input type="checkbox" checklist-model="query.gender" checklist-value="'female'" name="filter-gender_female" id="filter-gender-female"> <i class="fa fa-venus"></i> Fem.</label></div>
					<div class="checkbox col-md-6"><label for="filter-gender-undefined"><input type="checkbox" checklist-model="query.gender" checklist-value="'undefined'" name="filter-gender_undefined" id="filter-gender-undefined"> <i class="fa fa-transgender"></i> Indef.</label></div>
					<div class="checkbox col-md-6"><label for="filter-gender-null"><input type="checkbox" ng-model="query.gender_null" name="filter-gender_null" id="filter-gender-null"> <i class="fa fa-block"></i> Sem info.</label></div>
				</div>
			</div>
			<div class="form-group" style="margin-top: 5px">
				<label class="control-label" for="filter-place_kind-rural">Por zona</label>
				<div class="form-inline row">
					<div class="checkbox col-md-6"><label for="filter-place_kind-rural"><input type="checkbox" checklist-model="query.place_kind" checklist-value="'rural'" name="filter-place_kind_rural" id="filter-place_kind-rural"> Rural</label></div>
					<div class="checkbox col-md-6"><label for="filter-place_kind-urban"><input type="checkbox" checklist-model="query.place_kind" checklist-value="'urban'" name="filter-place_kind_urban" id="filter-place_kind-urban"> Urbana</label></div>
					<div class="checkbox col-md-12"><label for="filter-place_kind-null"><input type="checkbox" ng-model="query.place_kind_null" name="filter-place_kind_null" id="filter-place_kind-null"> Sem informação</label></div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div>
				<button type="submit" class="btn btn-raised btn-info" style="width: 100%; padding: 8px 0"><i class="fa fa-search"></i> Filtrar</button>
			</div>
			<hr />
			<div style="text-align: center">
				<strong ng-bind="search.stats.total_results"></strong> casos encontrados
				<a ng-hide="true" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar XLS</a>
			</div>
		</div>
	</form>
</div>