<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3><i class="fa fa-bell"></i> Novo alerta</h3>
		</div>
		<div class="panel-body">

			<div class="panel panel-default">
				<div class="panel-heading"><i class="material-icons">person</i> Informações da criança ou adolescente</div>
				<div class="panel-body">
					<div class="form-group col-md-12">
						<label class="control-label" for="fld-name">Nome da criança ou adolescente*</label>
						<input type="text" class="form-control" id="fld-name" ng-model="alert.name">
					</div>
					<div class="form-grouo col-md-4">
						<label class="control-label" for="fld-gender">Gênero</label>
						<select id="fld-gender" class="form-control" ng-model="alert.gender" ng-options="n.slug as n.label for n in static.getGenders()"></select>
					</div>
					<div class="form-grouo col-md-4">
						<label class="control-label" for="fld-raca">Raça / Etnia</label>
						<select id="fld-raca" class="form-control" ng-model="alert.race" ng-options="n.slug as n.label for n in static.getRaces()"></select>
					</div>

					<div class="form-group col-md-4">
						<label class="control-label" for="fld-dob">Data de nascimento</label>
						<input type="tel" class="form-control" id="fld-dob" ng-model="alert.dob" ui-date-mask>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="fld-rg">RG</label>
						<input type="tel" class="form-control" id="fld-rg" ng-model="alert.rg" ui-br-rg-mask>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="fld-cpf">CPF</label>
						<input type="tel" class="form-control" id="fld-cpf" ng-model="alert.cpf" ui-br-cpf-mask>
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="fld-codnis">NIS (Número de Identificação Social)</label>
						<input type="tel" class="form-control" id="fld-codnis" ng-model="alert.nis">
					</div>
					<div class="form-group col-md-12">
						<label class="control-label">Por que a criança ou adolescente está fora da escola?* <br />Selecione a principal causa identificada:</label>
						<div class="radio" ng-repeat="alertCause in static.getAlertCauses()">
							<label>
								<input name="alert_cause_id" ng-model="alert.alert_cause_id" ng-value="alertCause.id" type="radio"> {{alertCause.label}}
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><i class="material-icons">person</i> Dados do responsável</div>
				<div class="panel-body">
					<div class="form-group col-md-6">
						<label class="control-label" for="fld-mother-name">Nome da mãe ou responsável*</label>
						<input type="text" class="form-control" id="fld-mother-name" ng-model="alert.mother_name">
					</div>

					<div class="form-group col-md-6">
						<label class="control-label" for="fld-father-name">Nome do pai ou responsável</label>
						<input type="text" class="form-control" id="fld-father-name" ng-model="alert.father_name">
					</div>

					<div class="form-group col-md-6">
						<label class="control-label" for="fld-mother-rg">RG da mãe ou responsável</label>
						<input type="tel" class="form-control" id="fld-mother-rg" ng-model="alert.mother_rg" ui-br-rg-mask>
					</div>

					<div class="form-group col-md-6">
						<label class="control-label" for="fld-father-rg">RG do pai ou responsável</label>
						<input type="tel" class="form-control" id="fld-father-rg" ng-model="alert.father_rg" ui-br-rg-mask>
					</div>

					<div class="form-group col-md-6">
						<label class="control-label" for="fld-mother-phone">Telefone da mãe ou responsável</label>
						<input type="tel" class="form-control" id="fld-mother-phone" ng-model="alert.mother_phone" ui-br-phone-number>
					</div>

					<div class="form-group col-md-6">
						<label class="control-label" for="fld-father-phone">Telefone do pai ou responsável</label>
						<input type="tel" class="form-control" id="fld-father-phone" ng-model="alert.father_phone" ui-br-phone-number>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading"><i class="material-icons">map</i> Dados de localização</div>
				<div class="panel-body">
					<div class="form-group col-md-8">
						<label class="control-label" for="fld-address">Endereço*</label>
						<input type="text" class="form-control" id="fld-address" ng-model="alert.place_address">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label" for="fld-cep">CEP</label>
						<input type="tel" class="form-control" id="fld-cep" ng-model="alert.place_cep" ui-br-cep-mask>
					</div>
					<div class="form-group col-md-12">
						<label class="control-label" for="fld-reference">Referência geográfica</label>
						<input type="text" class="form-control" id="fld-reference" ng-model="alert.place_referene">
					</div>
					<div class="form-group col-md-5">
						<label class="control-label" for="fld-neighborhood">Bairro*</label>
						<input type="text" class="form-control" id="fld-neighborhood" ng-model="alert.place_neighborhood">
					</div>
					<div class="form-group col-md-2">
						<label class="control-label" for="fld-uf">UF*</label>
						<select class="form-control" id="fld-uf" ng-model="alert.place_uf" ng-options="uf.code as uf.code for uf in static.getUFs()">

						</select>
					</div>

					<script type="text/ng-template" id="city_item.html">
						<a>
							<span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
							<small ng-bind-html="match.model.uf | uibTypeaheadHighlight:query"></small>
						</a>
					</script>

					<div class="form-group col-md-5">
						<label class="control-label" for="fld-city">Município*</label>
						<input type="text" id="fld-city"
						       class="form-control"
						       ng-model="alert.place_city"

						       uib-typeahead="city for city in fetchCities($viewValue)"
						       typeahead-editable="false"
						       typeahead-no-results="noCitiesFound"
						       typeahead-loading="citiesLoading"
						       typeahead-focus-first="true"
						       typeahead-template-url="city_item.html"
						       typeahead-wait-ms="400"
						       typeahead-min-length="3"
						       typeahead-input-formatter="renderSelectedCity($model)"

						>

						<div ng-show="citiesLoading">
							<i class="fa fa-refresh rotate-icon"></i> Buscando cidades...
						</div>
						<div ng-show="noCitiesFound">
							<i class="fa fa-remove"></i> Nenhuma cidade encontrada
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label" for="fld-phone">Telefone residencial</label>
						<input type="tel" class="form-control" id="fld-phone" ng-model="alert.place_phone" ui-br-phone-number>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label" for="fld-mobile">Telefone celular</label>
						<input type="tel" class="form-control" id="fld-mobile" ng-model="alert.place_mobile" ui-br-phone-number>
					</div>
				</div>
			</div>

			<hr />

			<a class="btn btn-raised btn-info pull-right" ng-click="createAlert()">Criar alerta</a>

		</div>
	</div>
</div>