<div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="pull-left"><i class="fa fa-bell"></i> Alertas pendentes</h3>
				<a style="margin-top: 22px;" class="btn btn-sm btn-raised btn-default pull-right" ng-click="refresh()"><i class="fa fa-refresh"></i> Atualizar</a>
			</div>
			<div class="panel-body">
				<div class="alert alert-success" ng-hide="children.data && children.data.length > 0">Nenhum alerta pendente de aprovação!</div>
				<div ng-show="children.data && children.data.length > 0">
					<div class="simple-filter">
						<h5><i class="fa fa-filter"></i> Filtrar</h5>
						<div class="form-group col-md-6">
							<input type="search" class="form-control" ng-model="filter.name" placeholder="Nome..." />
						</div>
						<div class="form-group col-md-6">
							<input type="search" class="form-control" ng-model="filter.submitter_name" placeholder="Agente..." />
						</div>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th><column-sorter on-change="refresh" model="sort" field="'alert_submitter_id'">Agente</column-sorter></th>
								<th><column-sorter on-change="refresh" model="sort" field="'risk_level'">Prioridade</column-sorter></th>
								<th><column-sorter on-change="refresh" model="sort" field="'name'">Nome</column-sorter></th>
								<th><column-sorter on-change="refresh" model="sort" field="'created_at'">Data</column-sorter></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(i, child) in getFilteredChildren()" ng-click="preview(child)" style="cursor: pointer;">
								<td><span ng-bind="child.submitter.name" uib-tooltip-html="child.submitter.type | lang:'user.type'"></span></td>
								<td><span ng-bind="child.risk_level | lang:'child.risk_level'"></span></td>
								<td><span ng-bind="child.name"></span></td>
								<td><span ng-bind="child.created_at | amTimeAgo" uib-tooltip-html="child.created_at | amCalendar"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default" ng-show="child && child.id">
			<div class="panel-heading">
				<h3><i class="fa fa-child"></i> {{child.name}}</h3>
			</div>
			<div class="panel-body">

				<div class="alert alert-primary">Alerta enviado <strong uib-tooltip-html="child.created_at" ng-bind="child.created_at | amTimeAgo"></strong> <span ng-show="child.submitter">por <strong uib-tooltip-html="child.submitter.type | lang:'user.type'" ng-bind="child.submitter.name"></strong></span></div>

				<div class="panel panel-default">
					<div class="panel-heading"><i class="material-icons">person</i> Informações da criança ou adolescente</div>
					<div class="panel-body">

						<div class="row">
							<div class="form-group col-md-12">
								<label class="control-label">Nome da criança ou adolescente</label>
								<p><span ng-bind="child.alert.name"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.gender || child.alert.race || child.alert.dob">
							<div class="form-grouo col-md-4" ng-show="child.alert.gender">
								<label class="control-label">Gênero</label>
								<p><span ng-bind="child.alert.gender | lang:'child.gender'"></span></p>
							</div>
							<div class="form-grouo col-md-4" ng-show="child.alert.race">
								<label class="control-label">Raça / Etnia</label>
								<p><span ng-bind="child.alert.race | lang:'child.race'"></span></p>
							</div>
							<div class="form-group col-md-4" ng-show="child.alert.dob">
								<label class="control-label">Data de nascimento</label>
								<p><span ng-bind="child.alert.dob | amDateFormat:'DD/MM/YYYY'"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.rg || child.alert.cpf || child.alert.nis">
							<div class="form-group col-md-4" ng-show="child.alert.rg">
								<label class="control-label">RG</label>
								<p><span ng-bind="child.alert.rg"></span></p>
							</div>
							<div class="form-group col-md-4" ng-show="child.alert.cpf">
								<label class="control-label">CPF</label>
								<p><span ng-bind="child.alert.cpf | brCpf"></span></p>
							</div>
							<div class="form-group col-md-4" ng-show="child.alert.nis">
								<label class="control-label">NIS (Número de Identificação Social)</label>
								<p><span ng-bind="child.alert.nis"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="control-label">Por que a criança ou adolescente está fora da escola?</label>
								<p><span ng-bind="getAlertCauseName()"></span></p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><i class="material-icons">person</i> Dados do responsável</div>
					<div class="panel-body">

						<div class="row" ng-show="child.alert.mother_name || child.alert.father_name">
							<div class="form-group col-md-6" ng-show="child.alert.mother_name">
								<label class="control-label">Nome da mãe ou responsável</label>
								<p><span ng-bind="child.alert.mother_name"></span></p>
							</div>

							<div class="form-group col-md-6" ng-show="child.alert.father_name">
								<label class="control-label">Nome do pai ou responsável</label>
								<p><span ng-bind="child.alert.father_name"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.mother_rg || child.alert.father_rg">
							<div class="form-group col-md-6" ng-show="child.alert.mother_rg">
								<label class="control-label">RG da mãe ou responsável</label>
								<p><span ng-bind="child.alert.mother_rg"></span></p>
							</div>

							<div class="form-group col-md-6" ng-show="child.alert.father_rg">
								<label class="control-label">RG do pai ou responsável</label>
								<p><span ng-bind="child.alert.father_rg"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.mother_phone || child.alert.father_phone">
							<div class="form-group col-md-6" ng-show="child.alert.mother_phone">
								<label class="control-label">Telefone da mãe ou responsável</label>
								<p><span ng-bind="child.alert.mother_phone | brPhoneNumber"></span></p>
							</div>

							<div class="form-group col-md-6" ng-show="child.alert.father_phone">
								<label class="control-label">Telefone do pai ou responsável</label>
								<p><span ng-bind="child.alert.father_phone | brPhoneNumber"></span></p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><i class="material-icons">map</i> Dados de localização</div>
					<div class="panel-body">
						<div class="row" ng-show="child.alert.place_address || child.alert.place_cep">
							<div class="form-group col-md-8" ng-show="child.alert.place_address">
								<label class="control-label">Endereço</label>
								<p><span ng-bind="child.alert.place_address"></span></p>
							</div>
							<div class="form-group col-md-4" ng-show="child.alert.place_cep">
								<label class="control-label">CEP</label>
								<p><span ng-bind="child.alert.place_cep | brCep"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.place_reference">
							<div class="form-group col-md-12">
								<label class="control-label">Referência geográfica</label>
								<p><span ng-bind="child.alert.place_reference"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.place_neighborhood || child.alert.place_uf || child.alert.place_city_name">
							<div class="form-group col-md-5" ng-show="child.alert.place_neighborhood">
								<label class="control-label">Bairro</label>
								<p><span ng-bind="child.alert.place_neighborhood"></span></p>
							</div>
							<div class="form-group col-md-2" ng-show="child.alert.place_uf">
								<label class="control-label">UF</label>
								<p><span ng-bind="child.alert.place_uf"></span></p>
							</div>
							<div class="form-group col-md-5" ng-show="child.alert.place_city_name">
								<label class="control-label">Município</label>
								<p><span ng-bind="child.alert.place_city_name"></span></p>
							</div>
						</div>

						<div class="row" ng-show="child.alert.place_phone || child.alert.place_mobile">
							<div class="form-group col-md-6" ng-show="child.alert.place_phone">
								<label class="control-label">Telefone residencial</label>
								<p><span ng-bind="child.alert.place_phone | brPhoneNumber"></span></p>
							</div>
							<div class="form-group col-md-6" ng-show="child.alert.place_mobile">
								<label class="control-label">Telefone celular</label>
								<p><span ng-bind="child.alert.place_mobile | brPhoneNumber"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<a class="btn btn-raised btn-success" ng-click="accept(child)"><i class="fa fa-check"></i> Aceitar</a>
				<a class="btn btn-raised btn-danger" ng-click="reject(child)"><i class="fa fa-ban"></i> Rejeitar</a>
			</div>
		</div>
	</div>
</div>