<div class="row">
	<div class="col-md-4">
		<img src="/images/logo_bae_signup.png" title="Busca Ativa Escolar" alt="Busca Ativa Escolar" style="margin: 20px 0;" />
	</div>
	<div class="col-md-8 text-right">
		<h2 style="margin-top: 50px;"><i class="fa fa-cog"></i> Primeira configura￿ção de munic￿ípio</h2>
	</div>
</div>

<div ng-include="'/second_time_setup/header.html'"></div>

<div class="steps">
	<div ng-if="step == 1" ng-controller="ReviewTenantAdminCtrl" ng-init="adminType = 'gestor_operacional'" ng-include="'/views/settings/partials/review_admin.html'"></div>
	<div ng-if="step == 2" ng-controller="ManageGroupsCtrl" ng-include="'/views/settings/partials/groups.html'"></div>
	<div ng-if="step == 3" ng-controller="UserBrowserCtrl" ng-init="quickAdd = true" ng-include="'/views/users/browse.html'"></div>
	<div ng-if="step == 4" ng-controller="ManageCaseWorkflowCtrl" ng-include="'/views/settings/partials/case_workflow.html'"></div>
	<div ng-if="step == 5" ng-controller="ManageDeadlinesCtrl" ng-include="'/views/settings/partials/deadlines.html'"></div>
</div>
