<div class="container">
	<div class="col-lg-3">
		<a href="http://www.foradaescolanaopode.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
			<img src="images/logo_bae.png" alt="Busca Ativa escolar" title="Busca Ativa escolar" style="margin-right: 30px;" />
		</a>
		<a href="http://www.foradaescolanaopode.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
			<img src="images/logo_fdenp.png" alt="Fora da Escola Não Pode!" title="Fora da Escola Não Pode!" />
		</a>
	</div>
	<div class="col-lg-3">
		<small></small>
		<div>
			<a href="http://unicef.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_unicef.png" alt="UNICEF" title="UNICEF" />
			</a>
		</div>
	</div>
	<div class="col-lg-3">
		<small></small>
		<div>
			<a href="http://www.congemas.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_congemas.png" alt="CONGEMAS" title="CONGEMAS" style="margin-right: 10px;" />
			</a>
			<a href="https://undime.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_undime.png" alt="UNDIME" title="UNDIME" />
			</a>
		</div>
	</div>
	<div class="col-lg-3">
		<small>desenvolvido por</small>
		<div>
			<a href="https://institutotim.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
				<img src="images/logo_instituto_tim.png" alt="Instituto TIM" title="Instituto TIM" />
			</a>
		</div>
		<div>
			<a href="/credits" class="credits-btn">
				ver licença de uso e créditos
			</a>
		</div>
	</div>
</div>