<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body" ng-bind="getMetrics().records_total || 0"></h1>
			<div class="panel-footer">casos<br /> em andamento</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body" ng-bind="getMetrics().report.normal || 0"></h1>
			<div class="panel-footer">casos<br /> no prazo</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<h1 class="panel-body" ng-bind="getMetrics().report.late || 0"></h1>
			<div class="panel-footer">casos<br /> atrasados</div>
		</div>
	</div>
</div>