<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<h1 class="panel-body">12</h1>
			<div class="panel-footer">usuários online</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<h1 class="panel-body">7.560</h1>
			<div class="panel-footer">crianças registradas</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<h1 class="panel-body">322 sms</h1>
			<div class="panel-footer">tempo de resposta</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<h1 class="panel-body">4.23 s</h1>
			<div class="panel-footer">tempo de usuário (TTFB)</div>
		</div>
	</div>
</div>