<table class="table table-hover">
	<thead>
	<tr>
		<th>Nome</th>
		<th>Etapa atual</th>
		<th>Status</th>
		<th>Data de abertura</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="(i, alert) in getAlerts()">
		<td><span ng-bind="alert.name"></span></td>
		<td><span ng-bind="alert.current_step"></span></td>
		<td>
			<span class="label label-primary" ng-show="alert.deadline_status === 'normal'">Em andamento</span>
			<span class="label label-warning" ng-show="alert.deadline_status === 'late'">Em atraso</span>
		</td>
		<td><span ng-bind="alert.created_at | amCalendar" uib-tooltip-html="alert.created_at.format('YYYY-MM-DD')"></span></td>
	</tr>
	</tbody>
</table>