<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3><i class="fa fa-code"></i> Área do Desenvolvedor</h3>
		</div>
		<div class="panel-body">

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Alterar perfil de acesso</div>
					<div class="panel-body">

						<div class="list-group">
							<a class="list-group-item" ng-click="identity.setUserType('agente_comunitario')"><i class="material-icons">account_box</i> Alterar perfil para: Agente Comunitário</a>
							<a class="list-group-item" ng-click="identity.setUserType('tecnico_verificador')"><i class="material-icons">account_box</i> Alterar perfil para: Técnico Verificador</a>
							<a class="list-group-item" ng-click="identity.setUserType('supervisor_institucional')"><i class="material-icons">account_box</i> Alterar perfil para: Supervisor Institucional</a>
							<a class="list-group-item" ng-click="identity.setUserType('coordenador_operacional')"><i class="material-icons">account_box</i> Alterar perfil para: Coordenador Operacional</a>
							<a class="list-group-item" ng-click="identity.setUserType('gestor_politico')"><i class="material-icons">account_box</i> Alterar perfil para: Gestor Político</a>
							<a class="list-group-item" ng-click="identity.setUserType('gestor_nacional')"><i class="material-icons">account_box</i> Alterar perfil para: Gestor Nacional</a>
							<a class="list-group-item" ng-click="identity.setUserType('super_administrador')"><i class="material-icons">account_box</i> Alterar perfil para: Super Administrador</a>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Testar notificação</div>
					<div class="panel-body">
						<button type="button" ng-click="testNotification('danger')" class="btn btn-raised btn-danger">Testar (urgente)</button>
						<button type="button" ng-click="testNotification('warning')" class="btn btn-raised btn-warning">Testar (aviso)</button>
						<button type="button" ng-click="testNotification('success')" class="btn btn-raised btn-success">Testar (sucesso)</button>
						<button type="button" ng-click="testNotification('info')" class="btn btn-raised btn-info">Testar (informação)</button>
						<button type="button" ng-click="testNotification('primary')" class="btn btn-raised btn-primary">Testar (normal)</button>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Sessão e Identidade</div>
					<div class="panel-body">

						<div>
							<button type="button" ng-click="login()" class="btn btn-raised btn-success"><i class="fa fa-sign-in"></i> Login</button>
							<button type="button" ng-click="logout()" class="btn btn-raised btn-danger"><i class="fa fa-sign-out"></i> Logout</button>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th colspan="2">session</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="(k, v) in storage.session">
									<td>{{k}}</td>
									<td ng-if="k !== 'token_expires_at' && k !== 'refresh_expires_at'">{{v}}</td>
									<td ng-if="k === 'token_expires_at' || k === 'refresh_expires_at'">{{(v / 1000) | amFromUnix | amTimeAgo}} ({{v}})</td>
								</tr>
							</tbody>
							<thead>
							<tr>
								<th colspan="2">identity</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="(k, v) in storage.identity">
								<td>{{k}}</td>
								<td>{{v}}</td>
							</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Testar back-end</div>
					<div class="panel-body">

						<button type="button" ng-click="testGetTenant()" class="btn btn-raised btn-warning">Realizar request aberto</button>

						<div>
							<p>ID: {{tenant.id}}</p>
							<p>Name: {{tenant.name}}</p>
							<p>Tenant registered at: {{tenant.created_at}}</p>
						</div>

						<button type="button" ng-click="testGetChildren()" class="btn btn-raised btn-warning">Realizar request autenticado</button>

						<div>
							<p>ID: {{child.id}}</p>
							<p>Name: {{child.name}}</p>
							<p>Status: {{child.status}}</p>
							<p>Step type: {{child.current_step_type}}</p>
							<p>Record created at: {{child.created_at}}</p>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>